.cpBody {
    background-color: white;
    direction: rtl;
}

/*css of header*/
.cpHeader {
    padding: 5px 0;
}
.cpHeaderRouteOfCityName {
    font-size: 0.8em;
    font-weight: 500;
}
.cpHeaderCityName {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: 800
}
/*end of css of header*/

/*css of main box*/
.cpMainBox {
    background-color: #e5e5e5;
    margin: 15px 0 !important;
    padding: 15px 15px 15px 0 !important;
}
.cpPic {
    width: 100%;
    height: 320px
}

/*css of little menu*/
.cpLittleMenu {
    color: #30b4a6 !important;
    border: 1px solid lightgray;
    text-align: center;
    cursor: pointer;
    padding: 1px !important;
    height: 80px;
}
.cpLittleMenu:hover {
    border:2px solid #30b4a6;
}
.textCityPageIcon {
    color: black;
    font-size: 11px;
    font-weight: 600;
}
/*end of css of little menu*/
/*end of css of main box*/

.cpTitle {
    font-size: 18px;
    font-weight: 700;
    padding: 7px 0;
}
.cpDescription {
    padding: 25px;
    text-align: justify;
    font-size: 18px;
}

/*css of firends box*/
.cpFriendsBoxPic {
    width: 88%;
    display: inline-block;
}
.cpFriendsEachPic {
    width: 24.3%;
    height: 120px;
    display: inline-block;
    cursor: pointer;
}
.cpFriendsOthersPic {
    width: 12%;
    float: left;
    text-align: center;
    padding: 4% 0;
    background-color: #4DC7BC;
    height: 120px;
    font-size: 1.1em;
    color: white;
    cursor: pointer;
}
.cpFriendsFooter {
    text-align: center;
    margin: 10px 0;
    font-weight: 500;
}
/*end of css of firends box*/

.cpMap {
    width: 100%;
    height: 350px;
}

/*css of borders*/
.cpBorderTop {
    border-top: 2px solid #f3f3f3;
    margin: 2px 0;
}
.cpBorderRight {
    border-right: 2px solid #f3f3f3;
}
.cpBorderLeft {
    border-left: 2px solid #f3f3f3;
}
.cpBorderBottom {
    border-bottom: 2px solid #f3f3f3;
    margin: 2px 0;
}
/*end of css of borders*/