.icons {
    font-family: 'Shazde_Regular2' !important;
}

/*....................*/
.hotel:before {
    content: '\E000';
}
.ticket:before {
    content: '\E004';
}
.atraction:before {
    content: '\E002';
}
.restaurant:before {
    content: '\E001';
}
.soghat:before {
    content: '\E005';
}
.ghazamahali:before {
    content: '\E006';
}
.majara:before {
    content: '\E009';
}
.sanaye:before {
    content: '\E00A';
}
.lebas:before {
    content: '\E05A';
}
.boom:before {
    content: '\E05B';
}
.estelah:before {
    content: '\E06C';
}
.location:before {
    content: '\E019';
}
.downArrow {
    font-size: 40px;
}
.downArrow:before {
    content: '\E04A';
    color: #30b4a6;
}
.plus:before {
    content: '\E031';
}
.plus2:before {
    content: '\E02F';
}
.minus:before {
    content: '\E034';
}
.close:before {
    content: '\E02C';
}
.iconClose:before {
    content: '\E02C';
}
.redStar:before {
    content: '\E00B';
}

/*..........city page Icons..........*/
.cityPageIcon {
    font-family: 'Shazde_Regular2' !important;
    font-size: 35px;
    color: #30b4a6;
}

/*..........phone popUp Icons..........*/
.phoneIcons {
    font-family: 'Shazde_Regular2' !important;
    font-size: 40px;
    direction: rtl;
    line-height: 40px;
    color: #30b4a6;
    margin: 2% 5% 2% 0;
}
.phoneIcon {
    font-family: 'Shazde_Regular2' !important;
    font-size: 50px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textIcon {
    color: black;
    font-size: 19px;
    margin-top: -1%;
    font-weight: 700;
    margin-bottom: 5px;
}

@media (max-width: 480px) {
    .phoneIcon {
        font-size: 40px;
    }

    .textIcon {
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .phoneIcon {
        font-size: 30px;
    }

    .textIcon {
        font-size: 12px;
    }
}