/*1st box of message*/


.alaki::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.alaki::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.alaki::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

/*2nd box of syles*/

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    color: #666666;
}

input[type="checkbox"] + label span, input[type="radio"] + label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    /*margin: -2px 10px 0 0;*/
    vertical-align: middle;
    background: url('../../images/check_radio_sheet.png') left top no-repeat;
    cursor: pointer;
}

input[type="checkbox"]:checked + label span, input[type="radio"]:checked + label span {
    background: url('../../images/check_radio_sheet.png') -19px top no-repeat;

}

.labelForCheckBox:before {
    background-color: transparent !important;
    border: none !important;
    content: "" !important;
}

/*inline styles*/

#inbox {
    vertical-align: top;
}

#selectAllImg {
    display: inline-block;
    margin-left: 5px;
    background-size: 13px;
    background-position: 0 -66px;
    width: 13px;
    height: 14px;
    background-image: url('../../images/all_messages.png');
    background-repeat: no-repeat;
}

#selectAll {
    color: #16174f;
}

.confirmationForDelete {
    display: inline-block;
    margin-left: 5px;
    background-size: 14px;
    background-position: 0 -2px;
    width: 13px;
    height: 13px;
    background-image: url('../../images/all_messages.png');
    background-repeat: no-repeat;
}

.confirmationForDeleteInput {
    background: transparent;
    border: none;
    margin-right: -5px
}

.blockListBtn {
    display: inline-block;
    margin-left: 5px;
    background-size: 13px;
    background-position: 0 -50px;
    width: 13px;
    height: 15px;
    background-image: url('../../images/all_messages.png');
    background-repeat: no-repeat;
}

.reportPromptBtn {
    display: inline-block;
    margin-left: 3px;
    background-size: 15px;
    background-position: 0 -39px;
    width: 13px;
    height: 15px;
    background-image: url('../../images/all_messages.png');
    background-repeat: no-repeat;
}

#dateIcon {
    display: inline-block;
    margin-right: 5px;
    background-size: 10px;
    background-position: 4px -62px;
    width: 16px;
    height: 8px;
    background-image: url('../../images/all_messages.png');
    background-repeat: no-repeat;
}

#select-title {
    text-align: center;
    background-color: white
}

#MESSAGES_CONTENT > .vt-align-top {
    width: 185px;
}

#MESSAGES_CONTENT > #PROFILE_MESSAGING {
    width: 100%;
}

#PROFILE_MESSAGING .alignLeft > div {
    height: 500px;
    display: flex;
    flex-direction: column;
}

#tableId {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#tableId > tr {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#sendMsgDiv {
    /*visibility: hidden;*/
    margin-top: 50px
}

#sendMsgDiv .row {
    margin: 0;
}

#result {
    max-height: 160px;
    overflow: auto;
    margin-top: 10px;
}

.topicLabel {
    float: right;
    margin-right: 202px
}

.messagesLabel {
    float: right;
    margin-right: 218px
}

#msg {
    width: 320px;
    height: 130px;
}

#submit {
    background-color: #4dc7bc;
    border-color: #4dc7bc;
}

.msgErr {
    color: red;
    margin-top: 20px
}

#reportPrompt {
    visibility: hidden;
    position: fixed;
    left: 33%;
    right: auto;
    top: 15%;
    bottom: auto;
    width: 33%;
}

#reportPrompt .body_text.alaki {
    max-height: 300px;
    overflow: auto;
    margin-top: 11px;
}

#reportPrompt .body_text.alaki .submitOptions button, #blockPrompt .body_text .submitOptions button {
    background-color: #4dc7bc;
    border-color: #4dc7bc;
}

.showMsgContainerStyles {
    visibility: hidden;
    bottom: auto;
    left: 32%;
    position: fixed;
    right: auto;
    top: 15%;
    width: 36%;
}

#blockPrompt {
    visibility: hidden;
    position: fixed;
    left: 34%;
    right: auto;
    top: 29%;
    bottom: auto;
    width: 30%;
}

#blockPrompt .header_text {
    margin-bottom: 10px;
}

.ui_overlay.ui_modal.editTags.deleteMessage {
    visibility: hidden;
    position: fixed;
    left: 37%;
    right: auto;
    top: 29%;
    bottom: auto;
    width: 26%;
}

.deleteSelectedMessagesBtn {
    background-color: #4dc7bc;
    border-color: #4dc7bc;
}

#customDefinedReport {
    height: auto;
    margin-top: 5px;
    min-height: 100px;
    padding: 5px !important;
    width: 100%;
}

#custom-define-report {
    visibility: hidden
}

.responseSubheaderParagraph {
    font-size: 16px;
    color: #000;
    max-height: 200px;
    height: 200px;
    overflow: auto;
}

.sendFromMainDiv {
    display: inline-block;
    margin-left: 5px;
    background-size: 15px;
    background-position: 0 -38px;
    width: 13px;
    height: 15px;
    background-image: url('../../images/all_messages.png');
    background-repeat: no-repeat;
}

.topicMainDiv {
    display: inline-block;
    margin-left: 5px;
    background-size: 15px;
    background-position: 0 -38px;
    width: 13px;
    height: 15px;
    background-image: url('../../images/all_messages.png');
    background-repeat: no-repeat;
}

.showMsgDiv {
    cursor: pointer;
    width: 35%;
    text-align: center
}

.mc-badge-collection-container .modules-membercenter-badge-collection .memberBadges {
    float: inherit;
    display: inline-block;
}

.saveLeftNav .menu_bar a.saveLink:hover, .saveLeftNav .menu_bar a.saveLink strong:hover {
    text-decoration: none;
}

#MAIN .m2m_copy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
}

#MESSAGES_CONTENT .saveLeftNav .selectedFolder {
    padding: 0;
}

#tableId td.width-15per {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact_form fieldset {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#contact_form fieldset .form-group {
    margin: 0 0 10px;
}

#contact_form fieldset .control-label {
    margin: 0 0 5px;
    float: right;
}

#contact_form fieldset .messagesInputsMainDiv {
    width: 100%;
}

.footerOptimizer {
    width: 100%;
    height: 40px;
}

@media (max-width: 820px) {
    .floatLeft.affix {
        width: 145px;
    }
}

@media (max-width: 700px) {
    .floatLeft.affix {
        width: 145px;
    }
}

@media (max-width: 675px) {
    .floatLeft.affix {
        width: 140px;
    }
}

@media (max-width: 550px) {

    #MESSAGES_CONTENT a.saveLink {
        font-size: 10px;
    }

    #MESSAGES_CONTENT > .vt-align-top {
        width: 160px;
    }

    #MAINWRAP #BODYCON .messagesHeading {
        margin: 10px;
        font-size: 25px;
    }

    .floatLeft.affix {
        width: 120px;
    }
}

@media (max-width: 495px) {

    .floatLeft.affix {
        width: 110px;
    }
}

@media (max-width: 480px) {

    #MESSAGES_CONTENT {
        flex-direction: column;
    }

    #MESSAGES_CONTENT > .vt-align-top {
        width: 100%;
    }

    #MESSAGES_CONTENT .saveLeftNav {
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid #ccc;
        padding: 3px 0;
        margin: 0;
        border-width: 1px 0;
    }

    #MESSAGES_CONTENT .saveLeftNav .menu_bar {
        width: 33.33333%;
        text-align: center;
        padding: 6px 0;
    }

    #MESSAGES_CONTENT .saveLeftNav div.displayFolder {
        border: none;
    }

    .floatLeft.affix {
        top: 0;
        width: 100%;
        background: white;
        z-index: 1;
    }

    .messagesActionsBar.affix {
        top: 59px;
        justify-content: center;
    }
}

@media (max-width: 370px) {

    #tableId td.width-20per, .inboxHeaders .SortNavOn.width-20per {
        width: 30%;
    }

    .memberProfile div.messagingButton, #MESSAGES_CONTENT div.messagingButton {
        margin: 1px 2px 5px 0;
    }
}


