#knewIranTogetherText, #shareInfoTitleText {
    direction: rtl;
    text-align: center;
}

#createAccountMiddleBanner {
    cursor: pointer;
    direction: rtl;
    text-align: center;
    font-size: 13px;
    color: #4DC7BC;
    margin-bottom: 20px;
}

.tripleBoxMiddleBanner {
    overflow: visible;
    direction: rtl;
    text-align: center;
    float: left;
    position: relative;
}

.tripleBoxMiddleBanner > div {
    overflow: visible !important;
}

.tripleBoxMiddleBanner h2 {
    margin-top: 22px !important;
}

.tripleBoxMiddleBannerWhite > div {
    background: #FFF !important;
    border: 1px solid #4DC7BC;
}

.tripleBoxMiddleBannerWhite > div > div:nth-child(1) {
    background: #4DC7BC;
}

.tripleBoxMiddleBannerWhite > div > div:nth-child(1) > span {
    color: #FFF;
}

.tripleBoxMiddleBannerWhite > div > div:nth-child(2), .tripleBoxMiddleBannerWhite > div > div:nth-child(2) > h2,
.tripleBoxMiddleBannerWhite > div > div:nth-child(2) > div {
    color: #4dc7bc !important;
}

.otherServicesBoxes, .youMayLikeItBoxes {
    cursor: pointer
}

#youMayLikeIt {
    margin-top: -15px;
}

.boxOFSqureDiv {
    display: flex;
    justify-content: center;
}

.squareDiv {
    width: 20%;
    color: #30b4a6 !important;
    background-color: white;
    border: solid lightgray;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border-width: 4px 3px;
}

.squareDiv:hover {
    border:4px solid #f0ad4e;
    text-decoration: none;
    color: #f0ad4e !important;
}

.squareDivSelected {
    width: 20%;
    color: #f0ad4e !important;
    background-color: white;
    border: solid #f0ad4e;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border-width: 4px 3px;
}

.squareDivSelected:hover {
    text-decoration: none;
}

.squareDiv > .phoneIcon::before {
    display: flex;
}

.threeBox {
    margin-top: 120px;
    background-color: #000000;
    border: 3px solid #000000;
}

.eachPicOf3Box {
    width: 100%;
}


DIV.prw_rup.prw_shelves_shelf_widget .shelf_container.rebrand .shelf_header .shelf_title {
    align-items: center;
}

DIV.prw_rup.prw_shelves_shelf_widget .shelf_container.rebrand .shelf_header .shelf_title .ui_icon.travelers-choice-badge {
    margin-top: 0;
}

DIV.prw_rup.prw_shelves_shelf_widget .shelf_container.rebrand .shelf_header .shelf_title .shelf_title_container {
    margin: 0 5px;
}

@media (max-width: 767px) {

    DIV.prw_rup.prw_shelves_shelf_widget .shelf_container.rebrand .shelf_header .ui_icon.travelers-choice-badge {
        display: inherit;
    }

    .poi_by_tag .ui_columns.is-multiline .ui_column {
        width: 100%;
    }

    .poi_by_tag .ui_columns.is-multiline {
        margin: 0 -8px !important;
    }

}

@media (max-width: 480px) {
    DIV.prw_rup.prw_shelves_shelf_widget .shelf_container.rebrand .shelf_header .shelf_title .shelf_title_container {
        font-size: 17px;
    }
}
