.mainAlbumPic{
    width: auto;
    height: 100%;
    position: absolute;
    transition: 0.2s;
}
.showingPhotosTitle {
    background-color: #0076a3;
    color: white;
    font-weight: 700;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px 5px 0 0;
}

.showingPhotosModal .commentWriterDetailsShow {
    padding: 5px 20px;
    margin: 0%;
    width: 100%;
    border-bottom: 2px solid #3c4043;
    background-color: #303134;
}

.commentWriterDetailsShow , .answersWriterDetailsShow {
    display: inline-block;
    width: 100%;
}

.commentWriterPicShow , .answersWriterPicShow {
    width: 55px;
    height: 55px;
    background-color: #E5E5E5;
    display: inline-block;
    float: right;
    margin-left: 10px;
}

.commentWriterPicShow > img {
    width: 100%;
    height: 100%;
}

#photographerSlideUserPic {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.modal-content .postMainDivHeader , .modal-content .showingPhotosTitle {
    text-align: right;
}
.feedBackBtn{
    margin-bottom: 8px;
}
.photosFeedBackBtn {
    float: left;
    display: flex;
    width: 24%;
    margin-top: 10px;
    flex-direction: column;
    /*max-width: 210px;*/
}
.chooseSidePhotoAlbum{
    border: #0076a3 solid 3px;
    border-radius: 0px !important;
}

.showingPhotosModal .commentWriterExperienceDetails {
    margin-top: 10px;
}

.showingPhotosModal .commentWriterExperienceDetails , .answersWriterExperienceDetails {
    display: inline-block;
    float: right;
}

.photosModalLikeBox , .photosModalDislikeBox {
    text-align: center;
    float: right;
    padding-right: 25px;
    cursor: pointer;
}

.likeBoxIcon::before {
    content: '\E1F9';
    font-family: Shazde_Regular2 !important;
    font-size: 20px;
    position: absolute;
    top: -7px;
}

.likeBoxIconClicked::before {
    content: '\E057';
    font-family: Shazde_Regular2 !important;
    font-size: 20px;
    position: absolute;
    top: -7px;
}

.photosModalLikeBox:hover {
    color: red;
}

.col-xs-6.dislikeBox {
    padding: 0 16px 0 0;
    text-align: center;
}

.dislikeBoxIcon::before {
    content: '\E1F8';
    font-family: Shazde_Regular2 !important;
    font-size: 20px;
    position: absolute;
    top: -4px;
}

.dislikeBoxIconClicked::before {
    content: '\E058';
    font-family: Shazde_Regular2 !important;
    font-size: 20px;
    position: absolute;
    top: -4px;
    right: 3px;
}

.photosModalDislikeBox:hover {
    color: darkred;
}

.showingPhotosModal .modal-dialog {
    width: 1000px;
}

.feedbackStatistic {
    text-align: center;
    direction: rtl;
}

.userInfoPhotoAlbum{
    margin-bottom: 15px;
    border-bottom: solid #3c4043;
    width: 101%;
    background: #303134;
    padding-top: 9px;
    padding-right: 11px;
    display: flex;
    flex-direction: column;
    direction: rtl;
}

.userInfoPhotoAlbum.hideOnScreen {
    width: 100%;
}

.rightColPhotosModalMainDiv {
    display: inline-block;
    border-left: 2px solid #3c4043;
    /*overflow: auto;*/
    height: auto;
    /*min-height: 70vh;*/
    margin: 0;
    background-color: #141518;
    padding: 0;
}

.rightColPhotosShowingModal {
    transition: 0.25s;
    margin-bottom: 5px;
    width: 48%;
    cursor: pointer;
    float: right;
    margin-left: 2%;
    position:relative;
    height: 115px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.leftColPhotosModalMainDiv {
    padding: 25px 70px 25px;
}

.selectedPhotoShowingModal {
    /*height: 486px;*/
    width: 100%;
    /*background-color: black;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.photosDescriptionShowingModal {
    display: inline-block;
    border-top: 2px solid #3c4043;
    color: #666666;
    text-align: right;
    direction: rtl;
    background-color: #303134;
    margin: 0;
    width: 100%;
    padding: 0px 20px;
}

#showingPhotosModal .modal-content {
    border-radius: 0;
}

#showingPhotosMainDivHeader > button.close:before,
#showingSitePicsModal > button.close:before {
    display: none;
}
#showingReviewPicsModal > button.close:before,
#showingReviewPicsModal > button.close:before {
    display: none;
}

#showingPhotosMainDivHeader > button.close,
#showingSitePicsModal > button.close {
    float: left;
    margin: 8px 0 0 15px;
    font-size: 30px;
    color: white;
    opacity: 1;
}

.modal-open .modal {
    /*backdrop-filter: blur(2px);*/
    background-color: #000000c7;
}

@media (max-width:1188px) and (min-width: 992px) {

    .showingPhotosModal .modal-dialog {
        width: 970px;
    }
}

@media (max-width:992px) and (min-width: 768px) {
    .showingPhotosModal .modal-dialog {
        width: 750px;
    }

    .commentWriterExperienceDetails {
         width: 60%;
    }

    .photosFeedBackBtn {
        width: 30%;
    }
}

@media (max-width: 992px) {

    .userInfoPhotoAlbum {
        flex-direction: column;
    }
}

@media (max-width:768px) {
    .showingPhotosModal .modal-dialog {
        width: auto;
    }

    .commentWriterExperienceDetails {
        width: 51%;
    }

    .photosFeedBackBtn {
        width: 207px;
    }

    .modal-content .display-flex {
        display: block;
    }

    .rightColPhotosShowingModal {
        width: 18%;
        margin:0 0 10px 1.8%;
        float: none;
        display: inline-block;
    }

    .rightColPhotosModalMainDiv {
        border-left: none;
        border-top: 2px solid #e5e5e5;
        overflow-x: auto;
        white-space: nowrap;
        padding: 10px 5px;
        direction: rtl;
        margin: 5px 1%;
        width: 98%;
    }

    .leftColPhotosModalMainDiv {
        padding: 25px 5% 25px;
    }

    .selectedPhotoShowingModal {
        height: 400px;
    }
}

@media (max-width:630px)  {
    #photographerSlideFeedBackBtns {
        display: flex !important;
        width: 100%;
        justify-content: center;
    }

    .commentWriterExperienceDetails {
        width: 74%;
    }

    .dislikeBoxIconClicked::after {
        right: 7px;
    }

    .selectedPhotoShowingModal {
        height: 320px;
    }
}

@media (max-width:480px)  {
    .selectedPhotoShowingModal {
        height: 250px;
    }

    .rightColPhotosShowingModal {
        width: 23%;
    }
}