
#mainPlaceDetailsTable {
    width: 100%;
    font-size: 14px
}

.elsePlaceDetailsTable {
    width: 40%;
    height: 150px;
    font-size: 10px;
    float: left;
    margin-right: 10px;
    direction: rtl;
}

.titleInTable {
    color: #4dc7bc;
}

td {
    max-width: 120px !important;
    width: auto !important;
    line-height: 2.7;
}

td > div {
    margin-bottom: 0 !important;
}

.detailListItem {
    max-width: 120px !important;
    width: auto !important;
    padding: 0 !important;
}

.descriptionSections {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.titleSection {
    border-bottom: 1px solid #e5e5e5;
    padding: 10px;
    color: #0076a3;
    display: inline-block;
    width: 100%;
    position: relative;
    margin-bottom: 15px ;
}

.titleSectionSpan {
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    background: white;
    top: 4px;
    right: 0;
    padding-left: 10px;
}

.contentSection {
    float: right;
    display: inline-block;
    color: #666666;
    font-size: 15px;
    font-weight: 500;
    padding-right: 5px;
}