.trophyCaseHeaderMainDiv.grayBorder {
    position: absolute;
    border-bottom: 1px solid #E6E6E6;
    left: 50%;
}

.grayBorder1 {
    bottom: 14px;
    width: 35%;
    margin-left: -117px;
}

.grayBorder5 {
    top: 13px;
    width: 72%;
    margin-left: -340px;
}

.medalMainBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.medalEachBox {
    border: 1px solid #CCCCCC;
    height: 150px;
    width: 33%;
}

.infoFlyout .myLevel {
    text-align: right;
}

.infoFlyout .myLevel span {
    background: url('images/profile.png') no-repeat -9px -299px !important;
    width: 40px;
    height: 40px;
    line-height: 42px;
    display: inline-block;
    margin-left: 5px;
    text-align: center;
    float: right;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    background-size: 56px !important;
}

.modules-membercenter-level-progress .myBadge {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: url('../../images/profile.png') no-repeat -13px -344px !important;
    background-size: 56px;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}

#MODULES_MEMBER_CENTER {
    padding-bottom: 20px;
}

.editInfosBoxTextMainDiv {
    display: flex;
    align-items: center;
}

#arrowDown, #arrowUp {
    color: #0076a3;
    font-size: 10px;
}

.leftProfile {
    position: relative;
}

#infoDiv {
    position: absolute;
    right: 20px;
    top: 120px;
    min-width: 120px;
    font-size: 0.75em;
    z-index: 1001;
}

#targetHelp_6 > p {
    font-size: 17px;
    margin: 5px 0;
}

#myHonorsText {
    text-align: right;
    right: 0;
    position: absolute;
    top: 9px;
    background: white;
    float: right;
    left: inherit;
    padding-left: 10px;
    color: #0076ac;
}

#myHonorsText > a {
    cursor: pointer
}

#myHonorsText > a > div {
    background-size: 28px;
    background-position: 0 -29px;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}

.ageSince {
    display: flex;
}

#targetHelp_14 {
    padding: 7px;
    width: 100%;
    border-top: 1px solid #E6E6E6;
    padding-top: 16px !important;
}

.phoneNumMainDiv {
    position: relative;
    display: flex;
}

#phoneNum {
    padding: 7px 7px 0;
    width: 300px;
    background-color: transparent;
    border: none;
    float: right;
    margin-left: 60px;
}

.inputBorderBottom {
    top: 25px;
    position: absolute;
    border-bottom: 1px solid #e6e6e6 !important;
    width: 100%;
}

.sendInvitationCode {
    float: right;
    padding: 0 20px;
    width: max-content;
    background-color: #0076a3;
    border: none;
}

.sendInvitationCodeMainDiv {
    position: absolute;
    background-color: white;
    display: flex;
    left: -6px;
    top: 15px;
    z-index: 1;
    padding-right: 5px;
}

#sendMsg {
    color: #963019;
    padding-top: 5px
}

.badgeStyles {
    min-width: 280px !important;
    padding: 10px !important;
    position: absolute;
    right: auto;
    top: 450px;
    bottom: auto
}

.badgeDesc {
    text-align: center !important;
}

.badgeAchievementHelpText {
    margin-top: 0 !important;
    padding-top: 0 !important;
    border-top: none !important;
}

#activityDiv {
    position: absolute;
    left: 62%;
    top: 0;
    font-size: 0.75em;
    z-index: 1001;
}

#earnPointDesc {
    font-size: 11px;
    text-align: justify;
    margin: 20px 0 !important;
}

.scoreLegendFirstBox {
    text-align: right !important;
    width: 10px !important;
}

.scoreLegendSecondBox {
    text-align: right !important;
}

.scoreLegendThirdBox {
    text-align: left !important;
}

.scoreLegendThirdBox > span {
    color: #963019;
    font-size: 18px;
}

#overlayInnerDiv > img {
    cursor: pointer;
    color: rgb(77, 199, 188) !important;
    width: 15px;
    top: 1%;
    right: 2%;
}

#overlayInnerDiv > div:last-child, #levelDiv > div:last-child {
    position: absolute;
    top: 20%;
    left: 0;
}

#levelDiv {
    position: absolute;
    left: 49%;
    top: -10px;
    font-size: 0.75em;
    z-index: 1001;
}

#levelUpDesc {
    font-size: 11px;
    text-align: justify;
    margin: 20px 0 !important;
}

.lastBoxLevelTable {
    text-align: left !important;
}

.lastBoxLevelTable > span {
    color: #963019;
    font-size: 18px
}

#overlayInnerDiv > img {
    cursor: pointer;
    color: rgb(77, 199, 188) !important;
    width: 15px;
    top: 1%;
    right: 2%;
}

#nextBtnHelp_15 {
    background-color: #5cb85c !important;
    border: #5cb85c !important;
}

#backBtnHelp_15 {
    background-color: #337ab7 !important;
    border: #337ab7 !important;
}

#exitBtnHelp_15 {
    background-color: #d9534f !important;
    border: #d9534f !important;
}

#tagPrompt {
    position: fixed;
    left: 10%;
    right: 10%;
    top: 60px;
    bottom: auto;
}

#tagPrompt.ui_overlay::before {
    display: none;
}

#submitBtnTripStyle {
    background-color: #4dc7bc;
    border-color: #4dc7bc;
.
}

.filtersBoxProfilePage {
    border: 1px solid #ccc;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 2px;
    width: 12px;
    height: 12px;
    float: left;
}

.filtersBoxProfilePageElse {
    border: 1px solid #333;
    background-color: black;
    border-radius: 50%;
    margin-right: 2px;
    width: 12px;
    height: 12px;
    float: left
}

.display-none {
    display: none;
}

.cursor-pointer {
    cursor: pointer;
}

.position-relative {
    position: relative;
}

.font-size-12 {
    font-size: 12px;
}

.dark-blue {
    color: #16174f;
}

.mg-tp-10 {
    margin-top: 10px;
}

.mg-tp-20imp {
    margin-top: 20px !important;
}

.mg-tp-25imp {
    margin-top: 25px !important;
}

.pd-tp-0Imp {
    padding-top: 0 !important;
}

.padding-0 {
    padding: 0;
}

.mg-rt-0 {
    margin-right: 0;
}

/*add Meta*/

.width-auto {
    width: auto;
}

#mainTextArea {
    width: 60%;
    height: 400px
}

/*ads*/

#addNewAdsBtn {
    width: auto;
    border-radius: 50% 50% 50% 50%
}

.editDateTripLabel {
    position: relative;
    margin: 6px;
    width: 100%;
    height: 30px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    box-shadow: 0 7px 12px -7px #e5e5e5 inset;
}

.editDateTripSpan {
    color: #30b4a6 !important;
    font-size: 20px;
    line-height: 32px;
    position: absolute;
    right: 7px;
}

.editDateTripInput {
    padding: 7px;
    position: absolute;
    top: 1px;
    right: 35px;
    border: none;
    background: transparent;
}

.mg-lt-30per {
    margin-left: 30%;
}

.max-width-200 {
    max-width: 200px;
}

/*ages*/

.border-radius-50per {
    border-radius: 50%;
}

/*new changes*/

.globalNav2011_reset #MAIN {
    width: auto !important;
}

.globalNav2011_reset #BODYCON {
    width: auto;
}

.modules-membercenter-member-profile .aboutMeDesc {
    float: right;
    border: 0;
    overflow: inherit;
    margin: 0 15px;
}

#MODULES_MEMBER_CENTER .modules-membercenter-member-profile .aboutMeDesc .update:hover {
    text-decoration: none;
}

#MODULES_MEMBER_CENTER .userProfileActivitiesMainDiv {
    padding: 0 0 20px;
}

#MODULES_MEMBER_CENTER .mainDivHeaderText {
    padding: 10px 0;
    border-bottom: 1px solid
    #e5e5e5;
    margin: 20px 0;
    position: relative;
}

#MODULES_MEMBER_CENTER .mainDivHeaderText > h3 {
    font-size: 17px;
    font-weight: 700;
    line-height: 32px;
    position: absolute;
    top: 5px;
    right: -5px;
    background: white;
    padding: 0 10px;
    color: #0076a3;
    margin: 0;
}

#MODULES_MEMBER_CENTER .activitiesMainDiv {
    padding: 0;
}

#MODULES_MEMBER_CENTER .activitiesLinesDiv:first-child {
    padding: 0 0 10px;
}

#MODULES_MEMBER_CENTER .activitiesLinesDiv {
    border-bottom: 1px solid
    #E5E5E5;
    padding: 15px 0;
    position: relative;
}

#MODULES_MEMBER_CENTER .activitiesLinesDiv:first-child > div {
    top: 0;
}

#MODULES_MEMBER_CENTER .activityTitle {
    position: absolute;
    font-size: 14px;
    color: #888888;
    top: 19px;
    right: 0;
    cursor: default;
    padding: 0 5px;
    background-color: white;
}

#MODULES_MEMBER_CENTER .activityNumbers {
    position: absolute;
    font-size: 14px;
    color: #0076a3;
    top: 19px;
    left: 0;
    cursor: pointer;
    padding: 0 5px;
    background-color: white;
}

.modules-membercenter-member-tag {
    border: none;
}

.modules-membercenter-member-tag .memberTags div.tripTasteTitle {
    position: relative;
    display: flex;
    margin-bottom: 25px;
    padding-bottom: 11px;
    border-bottom: 1px solid #e6e6e6;
    align-items: center;
}

.modules-membercenter-member-tag .memberTags .header {
    position: absolute;
    background: white;
    padding-left: 5px;
    font-size: 15px;
    color: #0076ac;
    margin-bottom: 0;
    top: 0;
    right: 0;
}

.modules-membercenter-member-tag .memberTags .editTags {
    background: white;
    padding: 0 5px 0 0;
    font-size: 10px;
    top: 5px;
}

#tagSuggest > span {
    display: flex;
    margin-bottom: 5px;
}

#tagSuggest > span:nth-child(2) {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 15px;
}

.invitationFriendsMainDiv {
    position: relative;
    padding-top: 30px;
}

.invitationFriendsTitle {
    font-size: 15px;
    color: #0076ac;
    padding-left: 5px;
    position: absolute;
    top: -12px;
    right: 0;
    background-color: white;
    font-weight: 700;
}

.modules-membercenter-persistent-header-achievements .persistent-header {
    width: auto;
    padding: 0;
}

.modules-membercenter-persistent-header-achievements .persistent-header a {
    color: #16174f !important;
}

.globalNav2011_reset #PAGE {
    width: auto;
}

.mc_achievements .leftProfile {
    width: 34%;
}

.modules-membercenter-progress-header {
    margin-bottom: 40px;
    border-bottom: 1px solid #e6e6e6;
}

.recentBadges, .futureBadges {
    padding: 0 20px;
}

.modules-membercenter-badge-teaser .header.recentBadgesTitleMainDiv,
.modules-membercenter-badge-teaser .header.badgeListTitleMainDiv {
    padding: 0;
    display: flex;
    align-items: center;
    border: 0;
    margin: 0;
}

.modules-membercenter-badge-teaser {
    display: flex;
    flex-direction: column;
}

.recentBadgesTitle, .futureBadgesTitle {
    font-size: 15px;
    margin-left: 7px;
}

.mc_achievements .rightContributions {
    width: 62%;
    margin: 20px 4% 0 0;
    padding-left: 20px;
}

.modules-membercenter-member-profile .profileBlock .nameContent .name .profileLinks {
    border-color: #0076a3;
}

.modules-membercenter-member-profile .profileBlock .nameContent {
    float: right;
    margin-top: 3px;
    padding-right: 15px;
    width: 100%;
}

.editInfosBoxText {
    font-size: 13px;
    color: #0076a3;
    margin-left: 5px;
}

.trophyCaseHeaderMainDiv {
    position: relative;
    margin: 0 0 30px 0 !important;
    padding-top: 42px !important;
    border: solid #E6E6E6;
    border-width: 0 0 1px 0;
}

.modules-membercenter-badge-teaser .header .trophyCaseTitle {
    position: absolute;
    right: 0;
    top: 28px;
    background: white;
    padding-left: 5px;
    color: #0076ac;
}

.modules-membercenter-badge-teaser .header .trophyCaseTitle > a {
    font-size: 12px;
    color: #92321b;
    text-decoration: none;
}

.modules-membercenter-badge-teaser .header a.trophyCase {
    position: absolute;
    left: 0;
    top: 26px;
    background: white;
    padding-right: 5px;
    text-decoration: none;
}

.myActivitiesMainDiv {
    margin: 18px 0;
    padding: 0 9px;
    display: flex;
    flex-direction: column;
    background-color: #ededed;
}

.myActivitiesHeaderMainDiv {
    border-bottom: 1px solid white;
    margin-top: 13px;
    position: relative;
}

.cs-header-points {
    position: absolute;
    left: 0;
    top: -15px;
    color: #92321b;
    background-color: #ededed;
}

.cs-header-points span.label {
    color: #92321b;
}

.cs-header-title {
    position: absolute;
    right: 0;
    top: -15px;
    background-color: #ededed;
    padding-left: 5px;
    color: #0076a3;
}

#targetHelp_15 {
    margin: 0;
}

.myActivitiesMainDiv .userProfileActivitiesDetailsMainDiv {
    width: 100%;
    padding: 0;
    margin-top: 5px !important;
    display: none;
}

.myActivitiesMainDiv .showUsersPostsLink {
    border-color: #0076a3;
}

.myActivitiesMainDiv .userActivitiesPosts {
    display: block;
}

.myActivitiesMainDiv .postsMainFiltrationBar {
    padding: 0 !important;
    display: flex !important;
    justify-content: center;
    margin-top: 25px;
}

.myActivitiesMainDiv .postsMainDivInSpecificMode {
    margin-top: 5px;
}

.myActivitiesMainDiv .answersBoxMainDiv {
    margin-top: 5px;
}

.myActivitiesMainDiv .userProfilePostsSearchContainer {
    margin-bottom: 0;
}

@media (max-width: 992px) {
    .points_to_go > span{
        font-size: 17px;
    }
}
