
.centerContent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigFont{
    font-size: 30px;
}
.smallFont{
    font-size: 20px;
}
:root{
    --white: #E5E5E5;
    --yellow: #FBC155;
    --dark: #273039;
}

header{
    position: fixed;
    background-color: #E5E5E5;
    width: 100%;
    height: 50px;
    z-index: 99;
}
header .container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logos{
    display: flex;
    height: 100%;
    align-items: center;
}
header .logos > a{
    height: 70%;
    width: auto;
}
header .buttons{
    margin-right: auto;
}
header .buttons > div{
    padding: 5px 20px;
    border-radius: 20px;
    margin: 0px 10px;
    cursor: pointer;
    box-shadow: 0px 3px 6px 0px #0000001a;
}
header .buttons .votedButton{
    background: var(--yellow);
}
header .buttons .registerButton{
    background: #273039;
    color: white;
}



section{
    background-color: #273039;
    padding: 25px 0px;
    padding-top: 75px;
}

section .headerWhite{
    color: var(--white);
}
section .headerWhite .smallFont{
    margin-right: 20px;
}
section .mainPic{
    border: solid 20px var(--white) ;
    height: 500px;
    box-shadow: 9px 3px 6px black;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: 0px;
    z-index: 9;
}
section .mainPic:after{
    content: '';
    background-image: url("../../images/festival/DOT100.png");
    width: 100%;
    height: 100%;
    position: absolute;
}

section .flowColor{
    background-color: #445565;
    position: relative;
    margin-top: 5%;
    display: flex;
}
section .flowColor .bakPic{
    width: 100%;
    position: absolute;
}
section .flowColor .topPic{
    bottom: 99.5%;
}
section .flowColor .botPic{
    bottom: -1%;
    z-index: 9;
}

section .flowColor .rightText{
    width: 45%;
}
section .flowColor .rightText ul{
    color: var(--white);
    list-style: none;
}
section .flowColor .rightText ul > li::before{
    content: "\2022";
    color: var(--yellow);
    font-weight: bold;
    display: inline-block;
    width: 2em;
    margin-left: -1em;
    font-size: 23px;
}
section .flowColor .leftPics{
    width: 55%;
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    justify-content: flex-end;
}
section .flowColor .leftPics .commonPic{
    width: 27%;
}
section .flowColor .leftPics .commonPic.pic1{
    transform: rotate(24deg);
}
section .flowColor .leftPics .commonPic.pic3{
    transform: rotate(25deg);
    z-index: 0;
}
section .conditionFestival{
    color: var(--white);
    position: relative;
}
section .conditionFestival .rightSec{
    width: 60%;
    padding-bottom: 60px;
    min-height: 350px;
    display: flex;
}
.conditionFestival .conditionRows{
    transition: 1s;
    position: absolute;
    margin-right: -200%;
    width: 100%;
}
.conditionFestival .conditionRows.show{
    position: relative;
    margin: 0;
}
.conditionFestival .conditionRows.hidden{
    display: none;
}
.conditionFestival .conditionRows.down{
    opacity: 0;
    margin-right: 100%;
}


.buttonss{
    display: flex;
    margin-top: 10px;
}
.buttonss > div{
    margin-left: 25px;
    cursor: pointer;
    transition: .3s;
}
.buttonss > div:hover{
    color: var(--yellow);
}
.buttonss > div.selected{
    color: var(--yellow);
}
.rowss{
    margin-top: 15px;
}
.rowss > div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.rowss > div:before{
    content: "\2022";
    color: var(--yellow);
    font-weight: bold;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
section .conditionFestival .leftSec{
    position: absolute;
    left: 0;
    bottom: -20px;
}
section .conditionFestival .leftSec > img{
    height: 400px;
}
.judgesSec{
    display: flex;
    align-items: center;
    margin-left: 10px;
    flex-wrap: wrap;
}
.judgesSec .jug{
    display: flex;
    align-items: center;
    margin: 15px;
}
.judgesSec .jug .pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: solid white 6px;
}
.judgesSec .jug .pic > img{
    width: 100%;
}
.judgesSec .jug .info{
    margin-right: 12px;
}
.judgesSec .jug .name{
    font-size: 20px;
}
.judgesSec .jug .role{
    font-size: 15px;
}

.yellowSecBack{
    background: var(--yellow);
    width: 100%;
    padding-bottom: 80px;
    position: relative;
    color: var(--dark);
}
.yellowSecBack.withGear:before{
    content: '';
    background-image: url("../../images/festival/yellowGear.svg");
    background-size: 100% auto;
    background-position: bottom;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 99%;
}
.blackSecBack{
    position: relative;
    padding-bottom: 80px;
    color: var(--white);
}
.blackSecBack.withGear:before{
    content: '';
    background-image: url("../../images/festival/blackGear.svg");
    background-size: 100% auto;
    background-position: bottom;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 99%;
}
.footerRow > div{
    color: var(--yellow);
    margin-top: 7px;
    margin-right: 15px;
    font-size: 18px;
}

.calendar{
    width: 50%;
    font-size: 16px;
    margin-top: 20px;
}
.calendar .line{
    width: 100%;
    height: 1px;
    background: var(--dark);
    margin: 9px 0px;
    position: relative;
}
.calendar.right .line:after{
    content: '';
    width: 40px;
    height: 40px;
    background: var(--dark);
    position: absolute;
    left: 0;
    bottom: -20px;
    border-radius: 50%;
}
.calendar.left .line:before{
    content: '';
    width: 40px;
    height: 40px;
    background: var(--dark);
    position: absolute;
    right: 0;
    bottom: -20px;
    border-radius: 50%;
}
.calendar.right{

}
.calendar.right .topText{
}
.calendar.right .botText{
    text-align: left;
    padding-left: 50px;
}
.calendar.left{
    margin-right: auto;
}
.calendar.left .topText{
    text-align: left;
}
.calendar.left .botText{
    padding-right: 50px;
}
