
.lds-ring{
    width: 20px;
    height: 20px;
}
.lds-ring div{
    border: 2px solid #d5d5d5;
    border-color: #d5d5d5 transparent transparent transparent;
    width: 20px;
    height: 20px;
    margin: 0px;
}
.gm-control-active.gm-fullscreen-control{
    display: none;
}
.searchSec{
    align-items: center;
    justify-content: space-between;
}
.searchSec input{
    border: none;
    font-size: 12px;
    margin-left: 10px;
    width: 200px;
}
.searchSec .searchButton{
    border: none;
    background: white;
    font-size: 20px;
    line-height: 20px;
    color: var(--koochita-blue);
    transform: rotate(90deg);
}
.searchSec .threeLineIcon{
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    margin-left: 5px;
    color: #5f5f5f;
}

.bodySec{
    direction: rtl;
    text-align: right;
    position: relative;
    display: flex;
    height: calc(100vh - 55px);
}
.bodySec.fullMap .mapSection{
    width: 100%;
}
.mapSection{
    width: calc(100% - 320px);
    position: relative;
    transition: .3s;
}
.mapSection .mapDiv{
    width: 100%;
    height: 100%;
}
.bText{
    font-size: 18px;
    font-weight: bold;
    margin: 5px 10px;
}

.filtersSec{
    justify-content: space-evenly;
    padding-bottom: 5px;
}
.filtersSec .filKind{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}
.filtersSec .filKind .name{
    font-size: .3em;
}
.filtersSec .filKind .icon{
    font-size: .75em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    margin-bottom: 5px;
}

.filtersSec .filKind .icon.touristAttractions  {
    background: #ec008c;
}
.filtersSec .filKind .icon.hotelIcon {
    background: #00516f;
}
.filtersSec .filKind .icon.restaurantIcon {
    background: #fff200;
}
.filtersSec .filKind .icon.adventureIcon {
    background: #ed1c24;
}
.filtersSec .filKind .icon.boomIcon {
    background: #00aeef;
}

.filtersSec .filKind.offFilter .icon{
    background: white;
    color: inherit;
}

.hideOnPhone.screenFooterStyle{
    display: none;
}
.bodySec .listSection{
    width: 320px;
    height: 100%;
    background: white;
    transition: .3s;
    position: relative;
}
.bodySec.fullMap .listSection{
    width: 0px;
}
.bodySec.fullMap .listSection .sideSection{
    position: absolute;
    z-index: 9;
}
.listSection .sideSection{
    direction: rtl;
    height: 140px;
}
.listSection .sideSection > div{
    background: white;
    box-shadow: 0px 0px 4px 1px #868686;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    width: 300px;
    margin: 10px;
    position: relative;
}

.bodySec.fullMap .listSection .leftArrowIcon{
    box-shadow: 0px 0px 4px 1px #868686;
}
.bodySec.fullMap .listSection .leftArrowIcon:before{
    transform: rotate(0deg);
}
.bodySec .listSection .leftArrowIcon:before{
    transform: rotate(180deg);
}
.bodySec .listSection .leftArrowIcon{
    position: absolute;
    width: 20px;
    height: 65px;
    left: -20px;
    z-index: 9;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 35%;
    border-radius: 10px 0px 0px 10px;
    box-shadow: none;
    cursor: pointer;
    font-size: 25px;
    overflow: hidden;
}

.bodySec .listSection .placeList{
    width: 100%;
    background: white;
    height: calc(100% - 140px);
    overflow: auto;
    direction: ltr;
    position: relative;
}
.bodySec.fullMap .listSection .content{
    overflow: hidden;
    direction: rtl;
}
.bodySec .listSection .content{
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.placeList .placeCard{
    direction: rtl;
    margin: 10px 10px;
    background: white;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: solid #efefef 1px;
}
.placeList .placeCard .img{
    width: 75px;
    height: 75px;
    overflow: hidden;
    border-radius: 10px;
}
.placeList .placeCard .info{
    margin-right: 10px;
    width: calc(100% - 80px);
}
.placeList .placeCard .info .name{
    font-size: 1em;
    color: black;
    cursor: pointer;
}

.placeList .placeCard .info .star{
    font-size: .8em;
    color: gray;
}
.placeList .placeCard .info .address{
    font-size: .7em;
    color: gray;
}
.placeListLoading{
    position: absolute;
    top: 150px;
    right: 0px;
    width: 100%;
    height: calc(100% - 140px);
    background: #0000008c;
    z-index: 9;
    overflow: hidden;
}

.placeSearchMapResults{
    background: white;
    position: absolute;
    width: 100%;
    top: 80%;
    z-index: 9;
    font-size: 11px;
    right: 0;
    border-radius: 0px 0px 10px 10px;
    transition: .3s;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    box-shadow: none;
}
.placeSearchMapResults.showResult{
    box-shadow: 0px 4px 4px 1px #868686;
    padding: 13px;
    max-height: 300px;
    overflow: auto;
    z-index: 99;
}
.placeSearchMapResults .res{
    padding: 3px 5px;
    margin: 3px 0px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 15px;
    transition: .3s;
}
.placeSearchMapResults .res:hover{
    background: var(--koochita-light-green);
}
.placeSearchMapResults .res .name{
    margin-right: 8px;
}
.placeSearchMapResults .res .icon{

}
.placeSearchMapResults .defaults{
    font-weight: bold;
    border-bottom: solid 1px #d5d5d5;
}
.placeSearchMapResults .resSec{

}