
.mapIconsCommon{
    width: 60px;
    height: 60px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    margin-left: 10px;
}
.offMapIcons{
    background: #494949 !important;
}
.mapIconIcon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 2px;
    font-size: 32px;
}
.boomgardyMapIcon{
    background: #00aeef;
}
.hotelMapIcon{
    background: #00516f;
}
.amakenMapIcon{
    background: #ec008c;
}
.restaurantMapIcon{
    background: #fff200;
}
.majaraMapIcon{
    background: #ed1c24;
}
.moreInfoMapIcon{
    background: #01771a;
}
.mapMenuList {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    left: 0;
    max-width: 100%;
    background-color: #00000073;
}
.mapMoreInfoPlace{
    direction: rtl;
    display: block;
    background: white;
    width: 0px;
    height: 275px;
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 10px;
    padding: 0px;
    overflow: hidden;
    transition: .3s;
    max-width: 90%;
    box-shadow: 0 0 5px 0px #646464;
}
.closeMapMoreInfo{
    position: absolute;
    top: -21px;
    left: 0px;
    font-size: 75px;
    color: #4dc7bc;
    cursor: pointer;
}
.imgMapMoreDiv{
    position: relative;
    width: 80%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    max-height: 160px;
    overflow: hidden;
}
.contentMapMore{
    padding-right: 10px;
}
.linkMapMore div{
    width: 100%;
    height: 150px;
    overflow: hidden;
}
.nameMapMore{
    color: black;
    font-size: 20px;
    margin-top: 5px;
}
.nameMapMore:hover{
    color: black;
}
.rateMapMore{
    font-size: 16px;
    margin-top: 3px;
    color: #666666;
}
.mapMoreState{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #666666;
}
.mapMoreIcon{
    position: absolute;
    left: 10px;
    width: 50px;
    bottom: 10px;
}
.mapMoreIconImg{
    width: 100%;
}
.mapMoreInfoImg{
    width: 100%;
    height: 150px;
    max-height: 150px;
}

.moreMapSaveButtonDiv{
    position: absolute;
    top: 0px;
    font-size: 25px;
    right: 5px;
    cursor: pointer;
}
.moreMapSaveButtonDiv:hover .empty-heart{
    color: red;
}
.showMapMoreInfo{
    width: 300px;
    padding: 10px;
}

.suggestionPackDiv{
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    background: transparent !important;
}

.suggestionPackContent{
    padding: 12px;
    background: white;
}

.imageGoldPin{
    position: absolute;
    top: -15px;
    right: 20px;
    z-index: 1;
}

.suggestionPackMainBody{
    background: white;
    width: 100%;
    flex-basis: auto;
    position: relative;
}
.suggestionPackDetailDiv{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    direction: rtl;
    padding: 10px 0 0;
    margin-bottom: -4px;
}

.suggestionPackName{
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    display: block;
    margin-bottom: 4px;
    text-decoration: none !important;
}

.suggestionPackName:hover{
    color: #333333;
}

.suggestionPackReviewRow{
    display: flex;
    width: 100%;
    margin-bottom: 4px;
    color: #b7b7b7;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: medium;
}

.suggestionPackReviewCount{
    margin: 0 5px;
}

.suggestionPackCityRow{
    padding-top: 2px;
    font-size: 12px;
    line-height: 16px;
    display: block;
    margin-bottom: 4px;
    color: #b7b7b7;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.suggestionPackPicLink{
    position: relative;
    display: block;
    border-radius: 2px;
    background-color: #fff;
    opacity: 1;
    transition: opacity linear 100ms;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 0;
    height: 200px;
}

.suggestionPackPicDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.suggestionPackPic{
    transition: .2s;
    position: relative;
    cursor: pointer;
    width: 100%;
}

.suggestionPackPic:hover{
    opacity: .9;
    transform: scale(1.1);
}

.suggestionPlaceHolderDiv{
    width: 100%;
}

.topPlacesDivInCity{
    margin: 40px 10px;
    padding: 20px 20px;
    background: #053a3e;
    margin-top: 0px;
}

.topPlacesDivInCityHeader{
    direction: rtl;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.topPlacesDivInCityHeader a {
    margin: 0 5px;
    color: #eab836;
}

.topPlacesDivInCityHeader div{
    margin: 0px;
}

.nagLogoRowSuggestion{
    width: 50px;
}

.smallReviewMainDivShown{
    padding: 10px;
    width: 97%;
    border: solid 1px #f3f3f3;
    margin: 1%;
    box-shadow: 0 0 5px 0px #646464;
    margin-bottom: 15px;
    direction: rtl;
}

.quantityOfLikesSmallReview{
    width: 100%;
    font-size: 23px;
    padding-top: 10px;
    text-align: right;
    line-height: 15px;
    justify-content: flex-end;
    display: flex;
    color: #1876a3;
    border-top: 1px solid #e5e5e5;

}

.smallReviewcommentPhotosShow{
    padding-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
}

.smallReviewshowMoreText{
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 10px;
    display: inline-block;
}

.smallReviewshowMoreText::before{
    content: '\E091';
    font-family: shazdemosafer-tour !important;
    font-size: 35px;
    color: #4DC7BC;
    position: absolute;
    bottom: -15px;
    left: 0;
}

.smallReviewIsConfirm{
    margin-right: 12px;
    font-size: 9px;
    font-weight: normal;
    cursor: default;
}

.smallReviewShowMore{
    font-size: 12px;
    margin-left: auto;
    cursor: pointer;
}

.quantityOfLikesSmallReview > div{
    display: flex;
    margin-right: 10px;
    cursor: pointer;
}

.postsMainDivInSpecificMode .photosCol{
    border-top: 1px solid #E5E5E5;
}

.photosCol > div{
    margin-top: 2px;
    border: 2px solid black;
    cursor: pointer;
}

.postsMainDivInSpecificMode .photosCol > div:nth-child(1){
    height: 210px;
}

.numberOfPhotosMainDiv{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    left: 15px;
    color: white;
    text-align: center;
    padding: 4px 20px;
    border: none !important;
}

.numberOfPhotos{
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
}

.commentContentsShow > p{
    word-break: normal;
    text-align: justify;
}

.showLessText{
    color: #4DC7BC;
    cursor: pointer;
}

.commentWriterPicShow{
    width: 55px;
    height: 55px;
    background-color: #E5E5E5;
    display: inline-block;
    float: right;
    margin-left: 10px;
}

.commentWriterExperienceDetails{
    color: #666666;
    margin-bottom: 10px;
    direction: rtl;
    text-align: right;
    padding-right: 65px;
}

.reviewPlaceHolderTextLineSmallReview{
    width: 100%;
    margin-bottom: 10px;
    height: 7px;
}

.commentContentsShowPlaceHolder{
    display: flex;
    flex-direction: column;
}

.reviewPicPlaceHolder{
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

@media (max-width:540px) {
    .mapMenuList{
        flex-direction: column;
    }
    .mapIconsCommon{
        width: 35px;
        height: 35px;
        margin-left: 0px;
        margin-bottom: 10px;
    }
    .mapIconIcon{
        width: 30px;
        height: 30px;
        font-size: 20px;
    }
}