.suggestionPackDiv{
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    background: transparent !important;
}
.suggestionPackContent{
    padding: 12px;
    background: white;
}
.imageGoldPin{
    position: absolute;
    top: -15px;
    right: 20px;
    z-index: 1;
}
.suggestionPackMainBody{
    background: white;
    width: 100%;
    flex-basis: auto;
    position: relative;
}
.suggestionPackDetailDiv{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    direction: rtl;
    padding: 10px 0 0;
    margin-bottom: -4px;
}
.suggestionPackName{
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    display: block;
    margin-bottom: 4px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    outline: none;
    text-decoration: none !important;
}
.suggestionPackName:hover{
    color: #333333;
}
.suggestionPackReviewRow{
    display: flex;
    width: 100%;
    margin-bottom: 4px;
    color: #b7b7b7;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: medium;
}
.suggestionPackReviewCount{
    margin: 0 5px;
}
.suggestionPackCityRow{
    padding-top: 2px;
    font-size: 12px;
    line-height: 16px;
    display: block;
    margin-bottom: 4px;
    color: #b7b7b7;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.suggestionPackPicLink{
    position: relative;
    display: block;
    border-radius: 2px;
    background-color: #fff;
    opacity: 1;
    transition: opacity linear 100ms;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 0;
    height: 200px;
}
.suggestionPackPicDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.suggestionPackPic{
    transition: .2s;
    position: relative;
    cursor: pointer;
    width: 100%;
}
.suggestionPackPic:hover{
    opacity: .9;
    transform: scale(1.1);
}

.suggestionPlaceHolderDiv{
    width: 100%;
}