#mapState {
    position: fixed;
    width: 90%;
    height: 90%;
    left: 5%;
    right: 5%;
    top: 5%;
    padding: 0;
}

#mapState1 {
    width: 100%;
    height: 100%;
    position: absolute;
}

#mapState > div:nth-child(2) {
    display: block;
    position: absolute;
    float: right;
    bottom: 8%;
    width: 90%;
    height: 9%;
    margin-right: 4%;
}

#mapState > div:nth-child(2) > div:nth-child(1) {
    display: inline-block;
    position: static;
    background-color: #30b4a6;
    width: 13%;
    height: 99%;
    cursor: pointer;
}

#mapState > div:nth-child(2) > div:nth-child(1) h1 {
    display: inline-block;
    color: white;
    margin-right: 8%;
    font-size: 120%;
    margin-top: 13%;
}

#closeShow {
    width: 20%;
    height: 45%;
    margin-left: 5%;
    float: left;
    transform: scaleX(1);
    margin-top: 11%;
}

#show {
    direction: rtl;
    float: right;
    height: 8%;
    width: 40%;
    display: inline-block;
    position: fixed;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: ghostwhite;
}

#show img {
    cursor: pointer;
    width: 9%;
    height: 100%;
    margin-right: 1%;
}

#placeInfoInExtendedMap {
    display: none;
    position: absolute;
    bottom: 60%;
    left: 2%;
    background-color: white;
    height: 30%;
    width: 25%;
}

#placeInfoInExtendedMap > div:nth-child(1) {
    height: 15%;
    background-color: #30b4a6;
}

#placeInfoInExtendedMap > div:nth-child(1) img {
    width: 8%;
    height: 85%;
    float: left;
    margin: 1%;
    transform: scaleX(-1);
    cursor: pointer;
}

#placeInfoInExtendedMap > div:nth-child(2) {
    margin-top: 7%;
    margin-right: 7%;
    height: 70%;
}

#laceInfoPicInExtendedMap {
    height: 55%;
    width: 30%;
}

#url {
    display: inline-block;
    margin-right: 5%;
    font-size: 120%;
}

#placeInfoInExtendedMap > div:nth-child(2) > div:nth-child(3) {
    display: block;
    margin-top: -15%;
    margin-right: 35%;
}

#placeInfoInExtendedMap > div:nth-child(2) > div:nth-child(3) > div:nth-child(2) {
    display: inline;
}

#star {
    font-size: 20px;
}

#rev {
    margin-right: 10%;
    font-size: 115%;
}

#address {
    display: block;
    font-size: 125%;
    margin-top: 15%;
}

#placeInfoInExtendedMap > div:nth-child(3) {
    height: 15%;
    background-color: #30b4a6;
}

#nearTitle {
    float: right;
    color: white;
    font-size: 135%;
    margin-top: 2%;
    margin-right: 3%;
}

#closeNearbyPlaces {
    cursor: pointer;
    width: 8%;
    height: 85%;
    float: left;
    margin: 1%;
    transform: rotate(90deg);
}

#nearbyInExtendedMap {
    overflow-y: auto;
    width: 100%;
    height: 175%;
    background-color: white;
    display: none;
}

#nearbyInExtendedMap > div:nth-child(1) {
    margin-right: 7%;
    height: 40%;
}

.itemNearbyPics {
    height: 50%;
    width: 30%;
}

#nearname {
    display: inline-block;
    margin-right: 5%;
    font-size: 120%;
    margin-top: 7%
}

#nearbyInExtendedMap > div:nth-child(4) {
    display: block;
    margin-top: -15%;
    margin-right: 35%;
}

#nearbyInExtendedMap > div:nth-child(4) > div:nth-child(2) {
    display: inline;
}

#nearbyInExtendedMap > div:nth-child(4) > div:nth-child(2) > span {
    margin-right: 10%;
    font-size: 115%;
}

#neardis {
    margin-top: 5%
}

#nearaddress {
    display: inline-block;
    font-size: 125%;
    margin-top: 5%;
}