/*footer styles*/

footer ul {
    list-style: none;
}

footer {
    height: auto;
    background-color: #fcc156;
    color: #16174f;
    direction: rtl;
    padding: 20px;
    text-align: right;
    margin-top: 1%;
}

.footTitle {
    font-size: 18px;
}

footer li > a {
    color: #16174f !important;
    font-size: 12px;
    text-decoration: none;
}

footer li a:visited {
    text-decoration: none !important;
}

footer li a:active {
    text-decoration: none !important;
}

footer li {
    padding: 4px;
}

footer a:hover {
    text-decoration: none !important;
    color: #16174f;
}

footer li > img, .small-ico {
    width: 22px;
    float: right;
    margin-left: 7px;
    height: 22px;
}

.footDown {
    float: right;
    width: 70%;
}

.footDown a {
    text-decoration: underline;
}

.footDown a:hover {
    text-decoration: underline !important;
}

.footDown li {
    margin-top: -3px;
}

.socialLink {
    font-size: 12px;
}

.footerIcon {
    background-image: url('../../images/footer.png');
    width: 22px;
    height: 22px;
    background-size: 22px;
    background-repeat: no-repeat;
    display: inline-block;
}

.gardeshname {
    background-position: 0 -24px;
    font-size: 24px;
}

.instagram {
    background-position: 0 -69px;
}

.telegram {
    background-position: 0 -137px;
}

.aparat {
    background-position: 0 -182px;
}

.bogendesign {
    background-position: 0 -205px;
}

.linkedin {
    background-position: 0 -91px;
}

.facebook {
    background-position: 0 -1px;
}

.pinterest {
    background-position: 0 -114px;
}

.twitter {
    background-position: 0 -159px;
}

.googlePlus {
    background-position: 0 -46px;
}

.selectLanguage {
    background: #FFF;
    border: 2px solid;
    font-size: 12px;
}

.footerLogo {
    width: 30%;
    clear: right;
}

.aboutShazde {
    font-size: 10px;
    text-align: justify;
}

@media screen and (max-width: 600px) {
    .phoneStyle {
        width: 50% !important;
    }

    .footTitle {
        font-size: 36px;
    }

    .selectLanguage {
        border: 4px solid;
        font-size: 24px;
    }

    .socialLink {
        font-size: 24px;
    }

    .footerIcon {
        width: 44px;
        height: 44px;
        background-size: 44px;
        background-repeat: no-repeat;
        display: inline-block;
    }

    .gardeshname {
        background-position: 0 -47px;
    }

    .instagram {
        background-position: 0 -138px;
    }

    .telegram {
        background-position: 0 -274px;
    }

    .aparat {
        background-position: 0 -364px;
    }

    .bogendesign {
        background-position: 0 -410px;
    }

    .linkedin {
        background-position: 0 -183px;
    }

    .facebook {
        background-position: 0 -2px;
    }

    .pinterest {
        background-position: 0 -229px;
    }

    .twitter {
        background-position: 0 -319px;
    }

    .googlePlus {
        background-position: 0 -93px;
    }

    .footerLogo {
        width: 100%;
        clear: both;
    }

    .footDown {
        width: 100%;
        clear: both;
    }

    .aboutShazde {
        font-size: 40px;
    }

    footer li > a {
        font-size: 24px;
    }
}

#knowOurPartnersDiv {
    float: right;
    width: 30%;
}

.footerMainBoxes {
    float: right;
    width: 17.5%;
}

#beWithUsInSocialMedia > ul > li:not(:first-child) {
    padding: 0 4px;
}

#beWithUsInSocialMedia > ul > li:not(:first-child) > div:nth-child(2) {
    display: inline-block;
    position: absolute;
    margin-right: 4px;
}

#beWithUsInSocialMedia > ul > li:last-child > a {
    margin-right: 4px
}

.footerLogo > img {
    margin-top: 10px;
}