.ui_overlay:before {
    right: 120px;
    left: auto;
}

.editBtn {
    background: url('../../images/icon_edit.png') no-repeat center center #f0f0f0;
}

.imgContainer:before {
    height: 0 !important;
}

.hover {
    position: relative;
    clear: both;
    margin: 6px 18px;
    padding: 6px;
    background: #FFF;
    border: 1px solid #ECEAE2;
    border-bottom-color: #DDDBD0;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0 !important;
}

.btn-success:focus {
    box-shadow: 0 0 0 0 !important;
}

.gm-style-iw {
    top: 15px !important;
    left: 10px !important;
    max-width: 300px;
    max-height: 300px !important;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    border: 1px solid rgba(72, 181, 233, 0.6);
    border-radius: 10px 10px 10px 10px;
}

td {
    max-width: 120px !important;
    width: auto !important;
}

.detailListItem {
    max-width: 120px !important;
    width: auto !important;
    padding: 0 !important;
}

.titleInTable {
    color: #4dc7bc;
}

.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
}

.progress-bar {
    height: 8px;
    background: #4caf50;
    width: 0;
}

.is-create-trip {
    color: #00AF87 !important;
    background-blend-mode: overlay;
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin: 0 0 10px 0;
    border-radius: 2px;
    display: -webkit-box;
    display: flex;
    line-height: initial;
    transition: background-color .2s ease, corder-color .2s ease;
    border: 1px solid #f5f5f5;
    justify-content: space-around;
    background-color: #e5e5e5;
}

.ui_icon:before {
    content: "\e02f";
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-size: inherit;
    line-height: 1;
    font-family: 'Shazde_Regular' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
}

.is-create-trip .tile-content {
    align-self: center;
    margin: 10px;
    padding: 0;
    box-sizing: inherit;
    cursor: pointer;
}

.castle:before {
    color: #963019;
}

#PAGE {
    overflow: hidden;
}


.menu {
    background: #fff;
    color: #16174f;
    font-size: 13px;
    font-weight: bolder;
    /*box-shadow: 2px 2px 5px #888888;*/
    border-bottom: 1px solid #E6E6E6;
    height: 40px;
    line-height: 40px;
    letter-spacing: 1px;
}

@media (max-width: 1023px) and (min-width: 768px) {
    .my_moblie_hidden {
        display: none !important;
    }
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.rec {
    cursor: pointer;
}

input[type="checkbox"], input[type="radio"] {
    display: none;
}

input[type="checkbox"] + label, input[type="radio"] + label {
    color: #666666;
}

input[type="checkbox"] + label span, input[type="radio"] + label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    background: url('../../images/check_radio_sheet.png') left top no-repeat;
    cursor: pointer;
}

input[type="checkbox"]:checked + label span, input[type="radio"]:checked + label span {
    background: url('../../images/check_radio_sheet.png') -19px top no-repeat;
}

.red-heart-fill:before {
    color: #963019 !important;
}

.red-heart:hover:before {
    color: #963019 !important;
}

.labelForCheckBox:before {
    background-color: transparent !important;
    border: none !important;
    content: "" !important;
}

div.ppr_rup.ppr_priv_location_detail_header .rating_and_popularity > span:nth-child(n+2):before {
    margin-right: 4px !important;
}

input[type="checkbox"] + label span, input[type="radio"] + label span {
    margin: -4px 0 0 0 !important;
}

.ui_input_checkbox {
    margin-right: 0 !important;
}

p {
    word-break: break-all;
    white-space: normal;
}

.loader {
    background-image: url("../../images/loading.svg");
    width: 100px;
    height: 100px;
}

.ui_overlay:before {
    content: none !important;
}

/*--hotel list Icon--*/

.shTIcon {
    font-family: shazde_regular2 !important;
    font-size: 20px;
}

.passengerIcon:before {
    content: '\E0DF';
    color: #4DC7BC;
}

.minusPlusIcons {
    font-family: 'Shazde_Regular2' !important;
    font-size: 25px;
    line-height: 25px;
    color: #30b4a6;
    cursor: pointer;
    display: inline-block;
    float: left;
}

.plus:before {
    content: '\E031';
}

.minus:before {
    content: '\E034';
}

.searchBottomArrowIcone:before {
    content: '\E04A';
    position: absolute;
    top: 12px;
    cursor: pointer;
}

.searchTopArrowIcone:before {
    content: '\E044';
    position: absolute;
    top: 12px;
    cursor: pointer;
}

.arrowPassengerIcone:before {
    left: 10%;
}

.closeXicon:before {
    content: '\E02C';
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    color: #4dc7bc;
    font-size: 1.5em;
}

.offerBox {
    width: 100%;
    border-bottom: 2px solid #e5e5e5;
    margin: 3px 0;
    padding: 4px 0;
}

.lableCalender {
    position: relative;
    margin: 6px;
    width: 44%;
    height: 30px;
    cursor: pointer;
}

.inputLableCalender {
    width: 80px;
    padding: 7px;
    position: absolute;
    top: 1px;
    right: 35px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.salePrice {
    color: red;
    border-top: 2px solid red;
    padding-top: 5px;
    width: 70px;
    margin: -15px auto 0;
}

.other10_Offer {
    text-align: center;
    font-size: 1.1em;
    color: #050c93;
    margin: 3px 0 10px 0;
}

.numBetweenMinusPlusBtn {
    float: left;
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

/*room section*/
.roomBox {
    width: 80%;
    padding: 3px 8px;
    border: 2px solid #E5E5E5;
    border-radius: 10px;
    text-align: right;
    font-weight: 700;
    margin: 8px auto;
    position: relative;
}

/*pop up*/
.roomPassengerPopUp {
    text-align: center !important;
    position: absolute;
    background-color: white;
    padding: 10px;
    top: 55px;
    right: 12%;
    left: 12%;
    border-radius: 5px;
    z-index: 999;
    border: 2px solid #e5e5e5;
}

.rowOfPopUp {
    height: 28px;
    font-size: 1.2em;
    margin-bottom: 5px;
    clear: both;
}

.selectAgeChild {
    direction: rtl;
    border: none !important;
}

.childrenPopUpAlert {
    width: 100%;
    margin-bottom: 5px;
    color: red;
    font-size: 0.8em;
}

.childAge {
    width: 32%;
    height: 45px;
    float: right;
}

/*search btn section*/
.srchBox {
    width: 44%;
    margin: 0 auto;
}

.srchBtn {
    background-color: #4DC7BC;
    border: none;
    color: white;
    font-size: 1.3em;
    border-radius: 10px;
    padding: 8px 30px;
}

.explainSrch {
    font-size: 1.4em;
    color: black;
    text-align: center;
    margin: 15px 7px;
}

.explainRoom {
    font-size: 0.9em;
    color: #93321b;
    position: absolute;
    bottom: 5px;
    margin: 0 7px;
}

.roomBox_IS_10 {
    margin-top: 20px;
    position: relative;
}

.roomBox_IS_2 {
    height: 330px;
    margin-top: 112px;
    border: 1px solid black;
    padding: 7px;
}

.roomBoxRezerved {
    width: 28%;
    padding: 3px 8px;
    border: 2px solid #E5E5E5;
    border-radius: 10px;
    text-align: right;
    font-weight: 700;
    position: relative;
    display: inline-block;
}

.eachRooms {
    border-bottom: 2px solid lightgray;
    padding: 5px;
    margin: 3px 0;
    font-size: 1.2em;
}

.roomPic {
    width: 25%;
    height: 130px;
    margin-top: 3px;
    float: right;
    border-left: 2px solid #e5e5e5;
}

.roomDetails {
    width: 55%;
    border-left: 2px solid #e5e5e5;
    display: inline-block;
    padding: 7px;
}

.roomPrices {
    width: 19%;
    float: left;
    padding: 7px;
}

.roomRow {
    width: 47%;
    display: inline-block;
    padding: 0 7px 0 2px;
}

.roomName {
    font-size: 1.2em;
    font-weight: 700;
    line-height: 40px;
    display: inline-block;
}

.roomPerson {
    float: left;
}

.personIcon:before {
    content: '\E06E';
    color: #4dc7bc;
    font-size: 14px !important;
}

.roomNumber {
    width: 65%;
    padding: 6px 9px;
    border: 2px solid #E5E5E5;
    border-radius: 10px;
    font-weight: 700;
    margin: auto;
}

.roomOptionTitle {
    color: #4dc7bc;
    padding-top: 5px;
}

/*style of chek box*/
.check-box__item {
    padding-top: 5px;
    position: relative;
    text-align: left;
    width: 57%;
    margin: 0 auto;
}

.labelEdit {
    position: absolute;
    left: 19px;
    top: 7px;
    font-size: 0.8em;
    color: gray;
}

/*end of style of chek box*/
.roomOption {
    color: gray;
    display: inline-block;
}

.roomAdditionalOption {
    display: inline-block;
    margin: 0 5px 0;
}

.priceRow_IS_2 {
    margin: 7% 0;
    font-weight: 400;
}

.lable_IS_2 {
    font-size: 1.2em;
    font-weight: 700;
    color: #4dc7bc;
    display: inline-block;
}

.viewOffersBtn {
    background: #fcc156;
    border-color: #fcc156;
    line-height: 25px;
    width: 75px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 13px;
}

.reservBtn, .specOfferBtn {
    color: #fff;
    line-height: 10px;
    border-radius: 10px;
    width: 100px;
}

.specOfferBtn {
    background: #4DC7BC;
    border-color: #4DC7BC;
}

.reservBtn {
    background: #963019;
    border-color: #963019;
}

.rezervedBtn {
    background: #4DC7BC;
    border-color: #4DC7BC;
    line-height: 14px;
    border-radius: 7px;
    width: 110px;
    padding-bottom: 10px;
    font-weight: 700;
}

.getAlarm {
    position: fixed;
    left: 30%;
    right: 30%;
    top: 19%;
    bottom: auto;
    overflow: auto;
    max-height: 500px;
    z-index: 201;
    direction: rtl;
    text-align: right;
    padding: 10px 10px 1px !important;
    display: none;
}

.getAlarm > div:nth-child(1) {
    float: left;
    color: #4DC7BC;
    font-size: 2em
}

#resultSrc {
    max-height: 160px;
    overflow: auto;
}

#resultDest {
    max-height: 160px;
    overflow: auto;
}

#notifyOtherSuggestionDiv {
    text-align: right;
    width: 100%;
    font: 1em;
    color: #4A4A4A;
    padding-top: 0 !important;
}

#otherOffers {
    display: inline-block;
!important;
}

#notifyOtherSuggestionDiv > label {
    width: 50% !important;
    font-weight: 100;
    top: 0 !important;
    color: #888686
}

#addYourEmailDivFlightNotification {
    width: 60% !important;
    display: inline-block
}

#totalNumRoom {
    float: left;
}

#moreTaLnkReviewHeader {
    margin-right: 15px;
}

#scoreSpanHeader {
    margin-right: 0 !important
}

#helpSpan_7 > p, #helpSpan_8 > p {
    font-size: 12px;
    line-height: 1.428 !important;
}

#offlineReserveErr {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
    background-color: #000000cf;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offlineReserveErr > div {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 0 20px;
    direction: rtl;
}

#bestPriceInnerDiv > div > div:nth-child(1) {
    color: #a3513d;
}

#bestPriceInnerDiv > div > div:nth-child(2) > div:nth-child(1) {
    border: 2px solid #e5e5e5;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
}

#bestPriceInnerDiv > div > div:nth-child(2) > div:nth-child(1) > label {
    margin-left: 0 !important;
}

#bestPriceInnerDiv > div > div:nth-child(2) > div:nth-child(1) > div {
    width: 1100px;
    position: absolute;
    left: -40%;
    top: 90%;
}

#bestPriceInnerDiv > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
    font-size: 25px;
    display: inline-block;
    cursor: pointer;
}

#roomDetail {
    font-size: 1.1em;
    display: inline-block;
    cursor: pointer;
}

#passengerNoSelectPane > div:nth-child(1) > div:nth-child(2) {
    float: left;
    margin-right: 25px;
}

#date_input_main_div {
    border-bottom: 1.5px solid #e5e5e5;
}

#date_input_main_div > div:nth-child(2) {
    width: 70%;
}

#date_input_main_div > div:nth-child(2) > label {
    margin: 6px 0 6px 6px !important;
}

#bestPriceTitleWithRoom {
    font-size: 1.1em;
    color: #a3513d;
}

#minimumPrice {
    font-size: 1.4em;
    display: inline-block
}

#minimumPrice {
    width: 54px;
    margin: -14px 0 0 0;
}

#fromAliBabaLink {
    float: right;
    margin: 2px 10px;
}

#savePercentage {
    font-size: 0.9em;
    color: red;
    margin: 2px 0;
}

#bestPriceBtn {
    margin: 1% 0;
}

#targetHelp_10 {
    height: 400px;
}

#targetHelp_10 > div:nth-child(1) {
    max-width: 752px;
    max-height: 338px;
}

#targetHelp_10 > div:nth-child(1) > div:nth-child(1) {
    width: 75%;
}

#targetHelp_10 > div:nth-child(1) > div:nth-child(1) > div > div {
    max-height: 338px;
}

#targetHelp_10 > div:nth-child(1) > div:nth-child(2) > div {
    height: 33.333332%;
}

.imgWrap1stTemp {
    max-width: 200px;
    max-height: 113px;
}

.imgWrap1stTemp > img {
    min-width: 152px;
}

#imgWrap3rdLine {
    min-width: 113px;
}

#BODYCON > div:nth-child(1) {
    padding: 15px 0;
    height: 70px !important;
    text-align: center;
    box-shadow: 0px 4px 5px #888888;
}

.closeXicon2:before {
    position: absolute !important;
    top: 10px !important;
}

#BODYCON > div:nth-child(3) {
    height: 90px;
    background-color: rgb(248, 248, 248);
}

#introduction > div > div:nth-child(1) {
    border: none !important;
    padding: 7px 0 !important;
    margin: 0 !important
}

#introduction > div > div:nth-child(1) > h3 {
    padding-top: 10px;
}

#introduction > div > div:nth-child(2) {
    margin: 15px 0 !important;
}

#showMore {
    float: left;
    cursor: pointer;
    color: #4dc7bc;
    font-size: 13px;
}

#introductionText {
    direction: rtl;
    font-size: 14px;
    max-height: 21px;
    overflow: hidden;
}

#map-small {
    width: 310px;
    height: 270px;
}

#introduction > div > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) {
    direction: ltr;
    border-width: 0 0 0 1px;
}

#clientConnectionsLines {
    direction: rtl;
    display: block !important;
}

#clientConnectionsAddress {
    white-space: normal;
}

#clientConnectionsAddress > div:nth-child(1) {
    margin-right: -5px;
}

#clientConnectionsAddress > div:nth-child(3), #clientConnectionsPhone > div:nth-child(2), #clientConnectionsWebsite > a {
    font-size: 12px;
}

#clientConnectionsPhone > div:nth-child(1) {
    margin-right: -4px;
}

#clientConnectionsWebsite {
    margin-right: -8px;
}

#tagsName > h3 {
    direction: rtl;
    padding: 8px 0;
}

#roomChoiceDiv {
    position: relative;
    padding-bottom: 2%;
    border-bottom: solid lightgray 1.5px;
    display: flex;
    align-items: center;
}

#roomChoiceDiv > h3 {
    float: right;
    line-height: 45px
}

#roomChoiceDiv > div {
    display: inline-block;
    margin-right: 5%;
}

#roomDetailsMainDiv > div:nth-child(1) > div:nth-child(1) {
    border-bottom: 1.5px solid #e5e5e5;
    width: 52%;
}

#roomDetailsMainDiv > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
    margin: -5px 0
}

#roomDetailsMainDiv > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
    margin: -10px 0
}

#roomDetailsMainDiv > div:nth-child(1) > div:nth-child(2) > div > div {
    color: #4dc7bc;
    display: inline-block;
    line-height: 24px
}

#roomDetailsMainDiv > div:nth-child(1) > div:nth-child(2) > div > select {
    float: left;
    border: none;
}

#roomDetailsMainDiv > div:nth-child(2) > div:nth-child(2) {
    float: left;
    border-bottom: 1.5px solid #e5e5e5;
}

#roomDetailsMainDiv > div:nth-child(3) {
    margin-top: 5px
}

#roomDetailsMainDiv > div:nth-child(3) > div:nth-child(2) {
    float: left;
    margin-top: 5px;
}

#roomPricesMainDiv > div:nth-child(1) {
    color: #4dc7bc;
}

#roomPricesMainDiv > div:nth-child(2) {
    text-align: center
}

#roomPricesMainDiv > div:nth-child(2) > div:nth-child(1) {
    font-size: 1.4em
}

.extraBedPrices > div:nth-child(2) {
    font-size: 0.6em;
    color: red;
}

.roomInfos {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00000094;
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
    justify-content: center;
    align-items: center
}

.roomInfos > div {
    background-color: white;
    padding: 10px;
}

.roomInfos > div > div > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.roomInfos > div > div > div:nth-child(1) > div:nth-child(1) {
    width: 100%;
    margin-bottom: 2%;
}

.roomInfos > div > div > div:nth-child(1) > div:nth-child(3) {
    width: 85%;
    margin-bottom: 2%;
}

.roomInfos > div > div > div:nth-child(1) > div:nth-child(5) {
    float: left;
    margin-top: 5px;
    display: flex;
    flex-direction: column
}

#roomchoice > div > div:nth-child(2) > div:nth-child(1) {
    margin-top: 0 !important;
}

#totalPriceOneDay {
    text-align: left;
}

#totalPrice {
    font-size: 1.2em;
    text-align: left
}

#discriptionNumRoom {
    text-align: center;
}

#roomchoice > div > div:nth-child(2) > div:nth-child(4) {
    margin: 7% 0;
    text-align: center;
}

#check_room {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00000094;
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
    justify-content: center;
    align-items: center
}

#check_room > div {
    background-color: lightgray;
    padding: 10px;
    max-height: 85%;
    overflow-y: auto;
    overflow-x: hidden;
}

#check_room > div > div:nth-child(1) {
    direction: rtl;
    text-align: center;
    padding: 10px;
}

#check_room > div > div:nth-child(1) > span:nth-child(1) {
    font-size: 30px;
    font-weight: bold;
}

#check_room > div > div:nth-child(1) > span:nth-child(2) {
    font-size: 20px;
}

.closeXicon:before {
    position: relative;
    top: 0;
}

#check_room > div > div:nth-child(2) > div:nth-child(1) {
    font-size: 15px;
    position: fixed
}

#check_room > div > div:nth-child(2) > div:nth-child(1) > div {
    width: 100%;
    direction: rtl;
    margin: 0;
    background-color: white;
    border: none;
    position: relative;
    box-shadow: 0 0 20px 0 gray;
}

#check_total_price {
    font-size: 1.2em;
    text-align: left
}

#check_room > div > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(2) > div:nth-child(1) {
    margin-bottom: 15px;
}

#check_description {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#check_room > div > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(3) {
    margin: 7% 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    padding-right: 5%;
}

#check_room > div > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(3) > button {
    float: left;
    margin-left: 5%;
    color: white;
}

#check_room > div > div:nth-child(2) > div:nth-child(2) {
    float: right;
    width: 60%;
}

#check_room > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
    padding: 10px;
    display: flex;
    flex-direction: column;
    direction: rtl;
}

#check_room > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 1%;
}

#check_room > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
    width: 60%;
    background-color: white;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 20px 0 gray;
}

#check_room > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
    padding: 5px;
}

#check_room > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

#check_room > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5%;
}

#hotelRatingMainDivRoomChoice {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

#hotelRatingMainDivRoomChoice > span:nth-child(2) {
    margin-right: 0 !important;
}

#hotelRatesDivs {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

#selectedRoomMainDiv {
    padding: 10px;
    display: flex;
    flex-direction: column;
    direction: rtl;
}

#selectedRoomMainDiv > div:nth-child(1) {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 1%;
}

#selectedRoomMainDiv > div:nth-child(3) > div {
    background: white;
    margin: 1px 1px 10px 1px;
    box-shadow: 0 0 20px 0 gray;
}

#selectedRoomMainDiv > div:nth-child(3) > div > div {
    font-size: 15px;
    padding: 2%
}

#reviewsDiv > div {
    width: 100%;
    direction: rtl;
    position: relative;
}

#reviewsDiv > div > div:nth-child(1) {
    margin-top: 20px;
    position: relative;
}

#targetHelp_11 {
    max-width: 100px;
    float: left
}

#targetHelp_11 > span:nth-child(1) {
    color: #FFF !important;
}

#moreCities > div > div:nth-child(1) {
    font-size: 18px
}

#reviewsDiv > div > div:nth-child(2) {
    margin-top: 45px !important;
}

#test > div:nth-child(1) {
    border-bottom: 1px solid #4DC7BC !important;
}

#test .imgWrap {
    max-width: 364px;
    max-height: 166px;
}

#test .imgWrap img {
    min-width: 209px;
}

#targetHelp_13 > a {
    color: #FFF !important;
}

#photosDiv .block_body_top .bignav {
    max-height: 424px;
}

#photosDiv .block_body_top .imgWrap {
    max-width: 267px;
    max-height: 200px;
}

#photosDiv .block_body_top .imgWrap img {
    min-width: 267px
}

.poiTile {
    float: left;
}

#nearbyDiv > div > div > div > div > div:nth-child(2) {
    padding-bottom: 22px;
    padding-top: 22px;
}

#nearbyDiv .poiGrid {
    border-color: #CCCCCC !important;
}

#nearbyDiv .poiGrid .poiTile .imgWrap {
    max-width: 94px;
    max-height: 80px;
}

#nearbyDiv .poiGrid .poiTile .imgWrap img {
    min-width: 80px;
}

#nearbyDiv .poiGrid .poiTile .poiInfo span {
    font-size: 16px;
}

#map {
    float: right;
    height: 224px;
    border: 1px solid #000;
}

#ansAndQeustionDiv > div > div:nth-child(2) {
    max-width: 60%;
    float: right;
    direction: rtl;
}

#questionTextId {
    width: 100%;
}

#ansAndQeustionDiv > div > div:nth-child(2) > div:nth-child(5) {
    float: left;
    margin-right: 10px;
}

#myTotalPane {
    width: 100%
}

#itemPicInExtendedMap {
    height: 80px;
    width: 40%;
    display: inline-block;
}

#myTotalPane > a:nth-child(2) {
    display: inline-block;
    margin-right: 5%;
    font-size: 110%;
}

#myTotalPane > div:nth-child(3) {
    display: block;
    margin-top: -18%;
    margin-right: 45%;
}

#star1 {
    font-size: 20px;
}

#rev1 {
    margin-right: 10%;
    font-size: 115%;
}

#extendedMapDistanceHeader {
    margin-right: 42%;
    margin-top: 2%
}

#address1 {
    display: block;
    font-size: 130%;
    margin-top: 6%;
}

.tripResponse {
    width: 150px;
    height: 150px;
    border: 2px solid #4DC7BC;
    cursor: pointer;
}

#pagination-details {
    clear: both;
    padding: 12px 0 !important;
}

#beTheFirstReviewer {
    font-size: 15px;
    color: #b7b7b7;
    float: right;
    margin: 8px 5px 8px 20px !important
}

.imgWrap .fixedAspect {
    max-width: 80px;
    padding-bottom: 100.000%
}

.partial-entry-paragraph {
    line-height: 20px;
    max-height: 70px;
    overflow: hidden;
    padding: 10px;
    font-size: 12px
}

.showMoreReviewDiv {
    color: #16174f;
    cursor: pointer;
    text-align: left;
}

#reportSpanReviews {
    cursor: pointer;
    font-size: 10px;
    color: #16174f
}

#showReportReviews2 {
    cursor: pointer;
    font-size: 10px;
}

#targetHelp_15 {
    max-width: 100px;
    margin: 0 !important;
    float: right;
}

.showAllComments {
    float: right;
    margin-top: 12px
}

#customDefinedReport {
    width: 375px;
    height: 120px;
    padding: 5px !important;
    margin-top: 5px;
}

#custom-define-report {
    visibility: hidden
}

#arrowHotelDetails {
    margin: 0 30px 155px 0;
}

#notInFiltersDiv {
    border: 1px solid #ccc;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 2px;
    width: 12px;
    height: 12px;
    float: left;
}

#isInFilterDiv {
    border: 1px solid #333;
    background-color: black;
    border-radius: 50%;
    margin-right: 2px;
    width: 12px;
    height: 12px;
    float: left
}

#changeNumRoomMainDiv {
    background: white;
    margin: 1px 1px 10px 1px;
    box-shadow: 0 0 20px 0 gray;
}

#changeNumRoomMainDiv > div:nth-child(1) {
    font-size: 15px;
    padding-top: 2%;
}

#changeNumRoomMainDiv > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
    width: 33%
}

#changeNumRoomMainDiv > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > span:nth-child(1) {
    color: #92321b
}

.mg-2percent {
    margin: 2% 0;
}

.font-size-085em {
    font-size: 0.85em;
}

.width-33percent {
    width: 33%;
}

.display-flex {
    display: flex;
}

.flex-direction-row {
    flex-direction: row;
}

.bg-color-grey {
    background-color: #cfcfcf
}

.mg-rt-22percent {
    margin-right: 22%;
}

.font-size-1em {
    font-size: 1em;
}

.font-size-10 {
    font-size: 10px;
}

.text-align-center {
    text-align: center;
}

.mg-bt-5 {
    margin-bottom: 5px;
}

.border-radius-100 {
    border-radius: 100%;
}

.border-bottom-grey {
    border-bottom: 1px solid #E3E3E3
}

.display-inline {
    display: inline;
}

.full-height {
    height: 100%;
}

.text-align-left {
    text-align: left;
}

.cursor-pointer {
    cursor: pointer;
}

.color-darkred {
    color: #92321b
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.tag {
    margin: 5px;
    float: right;
    direction: rtl;
}

.font-size-28 {
    font-size: 28px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-20Imp {
    font-size: 20px !important;
}

.font-size-12em {
    font-size: 1.2em
}

.ltrImp {
    direction: ltr !important;
}

.ltr {
    direction: ltr;
}

.clear-both {
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-rightImp {
    float: right !important;
}

.rtl {
    direction: rtl;
}

.relative-position {
    position: relative;
}

.font-size-16 {
    font-size: 16px;
}

.alarmHeaderText {
    font-size: 1.3em;
    font-weight: 700;
    color: #4a4a4a;
}

.alarmSubHeaderText {
    margin: 7px 0 1px;
    color: #888686;
}

.alarmBoxCityName {
    border: 2px solid #E5E5E5;
    border-radius: 10px;
    width: 33%;
    padding: 7px;
    font-size: 0.8em;
}

.alarmInputCityName {
    width: 90%;
    border: none !important;
}

.alarmInputCityName:focus {
    border: none !important;
    color: #4DC7BC;
}

.alarmPopUpBotton {
    background: #4DC7BC;
    border-color: #4DC7BC;
    color: #fff;
    line-height: 24px;
    font-size: 1em;
    width: 100px;
    border-radius: 7px;
}