.cityPageLittleMenu {
    color: #30b4a6 !important;
    border: 1px solid lightgray;
    text-align: center;
    cursor: pointer;
    padding: 1px !important;
    height: 100px;
}
.cityPageLittleMenu:hover {
    border:2px solid #30b4a6;
}
.cityPageIcon {
    font-family: 'Shazde_Regular2' !important;
    font-size: 40px;
    margin-top: 8%;
}
.textCityPageIcon {
    color: black;
    font-size: 12px;
    font-weight: 800;
    margin-top: 0%;
    margin-bottom: 15%;
}

.border-top-grey {
    border-top: 2px solid gray;
    margin: 2px 0;
}
.border-right-grey {
    border-right: 2px solid gray;
}
.border-left-grey {
    border-left: 2px solid gray;
}
.border-bottom-grey {
    border-bottom: 2px solid gray;
    margin: 2px 0;
}

/*......................*/
.squareDiv {
    height: 35vh;
    color: #30b4a6 !important;
    background-color: white;
    border: 1px solid lightgray;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
.squareDiv:hover {
    border:2px solid #30b4a6;
}
.phoneIcon {
    font-family: 'Shazde_Regular2' !important;
    font-size: 80px;
    margin-top: 8%;
}
.textIcon {
    color: black;
    font-size: 25px;
    margin-top: -1%;
}
.hotel:before {
    content: '\E000';
}
.ticket:before {
    content: '\E004';
}
.atraction:before {
    content: '\E002';
}
.restaurant:before {
    content: '\E001';
}
.soghat:before {
    content: '\E005';
}
.ghazamahali:before {
    content: '\E006';
}
.majara:before {
    content: '\E009';
}
.sanaye:before {
    content: '\E00A';
}
.lebas:before {
    content: '\E05A';
}
.boom:before {
    content: '\E05B';
}
.estelah:before {
    content: '\E06C';
}
.location:before {
    content: '\E019';
}
.downArrow {
    font-size: 40px;
}
.downArrow:before {
    content: '\E04A';
    color: #30b4a6;
}
.plus:before {
    content: '\E031';
}
.minus:before {
    content: '\E034';
}
.close:before {
    content: '\E02C';
}