.squareDiv {
    height: 35vh;
    color: #30b4a6 !important;
    background-color: white;
    border: 1px solid lightgray;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
.squareDiv:hover {
    border:2px solid #30b4a6;
}
.phoneIcon {
    font-family: 'Shazde_Regular2' !important;
    font-size: 80px;
    margin-top: 8%;
}
.textIcon {
    color: black;
    font-size: 25px;
    margin-top: -1%;
}
.hotel:before {
    content: '\E000';
}
.ticket:before {
    content: '\E004';
}
.atraction:before {
    content: '\E002';
}
.restaurant:before {
    content: '\E001';
}
.soghat:before {
    content: '\E005';
}
.ghazamahali:before {
    content: '\E006';
}
.majara:before {
    content: '\E009';
}
.sanaye:before {
    content: '\E00A';
}
.lebas:before {
    content: '\E05A';
}
.boom:before {
    content: '\E05B';
}
.estelah:before {
    content: '\E06C';
}
.location:before {
    content: '\E019';
}
.downArrow {
    font-size: 40px;
}
.downArrow:before {
    content: '\E04A';
    color: #30b4a6;
}
.plus:before {
    content: '\E031';
}
.minus:before {
    content: '\E034';
}
.close:before {
    content: '\E02C';
}