.modules-travelmap-multi-pin-flyout .hidden {
    display: none!important;
}
.modules-travelmap-multi-pin-flyout .pin-multiflyout-container {
    width: 328px;
    border: 1px solid #818181;
    background-color: white;
    position: absolute;
    top: 106px;
    left: 154px;
    z-index: 1;
}
.modules-travelmap-multi-pin-flyout .row {
    height: 32px;
    border-bottom: #C8C8C8 solid 1px;
}
.modules-travelmap-multi-pin-flyout .flyoutTitle {
    background-color: #eee;
    height: 34px;
    line-height: 34px;
    font-weight: bold;
    padding-left: 10px;
}
.modules-travelmap-multi-pin-flyout .sprite-close {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 17px;
    height: 17px;
    cursor: pointer;
}
.modules-travelmap-multi-pin-flyout .colWide {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    zoom: 1;
    height: 32px;
    width: 190px;
    padding-left: 10px;
}
.modules-travelmap-multi-pin-flyout .locationName {
    line-height: 32px;
    height: 32px;
    overflow: hidden;
    width: 190px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}
.modules-travelmap-multi-pin-flyout .colNarrow {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    zoom: 1;
    width: 41px;
    height: 32px;
    border-left: #C8C8C8 solid 1px;
    text-align: center;
}
.modules-travelmap-multi-pin-flyout .flag-icon {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    zoom: 1;
    width: 18px;
    height: 18px;
    margin: 7px 0 0;
    cursor: pointer;
}
.modules-travelmap-multi-pin-flyout .bottomBar {
    height: 45px;
}
.modules-travelmap-multi-pin-flyout .zoom {
    color: #069;
    padding: 15px 15px 15px 10px;
    float: left;
    cursor: pointer;
}
.modules-travelmap-multi-pin-flyout .mag-glass {
    float: left;
    width: 14px;
    height: 14px;
    padding-right: 8px;
    background-image: url("../../images/magGlass_grn.gif");
    background-position: 3px;
    background-repeat: no-repeat;
}
.modules-travelmap-multi-pin-flyout .done {
    float: right;
    border: 1px solid gray;
    border-radius: 2px;
    width: 114px;
    height: 23px;
    line-height: 23px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 0 #548725;
    margin: 10px;
    cursor: pointer;
    background-image: url("../../images/gradient1x32_grn.gif");
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 100% 100%;
}
.modules-travelmap-multi-pin-flyout .flyoutCaret {
    width: 20px;
    height: 15px;
    position: absolute;
    left: 100px;
}
.modules-travelmap-multi-pin-flyout .arrowPointUp {
    top: -15px;
}
.modules-travelmap-multi-pin-flyout .arrowPointDown {
    bottom: -15px;
}
.modules-travelmap-multi-pin-flyout .message {
    padding: 10px;
    border-bottom: #C8C8C8 solid 1px;
}
.modules-travelmap-pin-flyout {
    font-size: 12px;
}
.modules-travelmap-pin-flyout .hidden {
    display: none!important;
}
.modules-travelmap-pin-flyout .pin-flyout-container {
    width: 448px;
    border: 1px solid #818181;
    background-color: white;
    position: absolute;
    top: 171px;
    left: 94px;
    z-index: 1;
}
.modules-travelmap-pin-flyout .prev-Pin {
    float: left;
    border-right: 1px solid #e3e3e3;
}
.modules-travelmap-pin-flyout .next-Pin {
    float: right;
    border-left: 1px solid #e3e3e3;
}
.modules-travelmap-pin-flyout .left-hand-col {
    float: left;
    width: 166px;
    height: 124px;
    margin: 9px 13px 9px 11px;
}
.modules-travelmap-pin-flyout .right-hand-col {
    float: left;
    width: 200px;
    margin-top: 14px;
}
.modules-travelmap-pin-flyout .hero_photo {
    position: absolute;
    height: 124px;
    width: 166px;
}
.modules-travelmap-pin-flyout .pin-type-icon {
    position: absolute;
    width: 35px;
    height: 28px;
}
.modules-travelmap-pin-flyout .location_name {
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 20px;
    width: 185px;
}
.modules-travelmap-pin-flyout .type-icon-text {
    float: left;
}
.modules-travelmap-pin-flyout .flag-icon {
    width: 19px;
    height: 18px;
    float: left;
}
.modules-travelmap-pin-flyout .active .flag-icon {
    cursor: pointer;
}
.modules-travelmap-pin-flyout .flag-text {
    padding: 0 5px 0 2px;
    float: left;
    line-height: 20px;
}
.modules-travelmap-pin-flyout .sprite-close {
    float: right;
    width: 20px;
    height: 20px;
}
.modules-travelmap-pin-flyout .carouselArrow {
    width: 25px;
    height: 142px;
    cursor: pointer;
}
.modules-travelmap-pin-flyout .flyoutLeftArrow {
    float: left;
    width: 20px;
    height: 18px;
    position: relative;
    top: 65px;
    left: 4px;
    background-image: url('../../images/popup_arrow_left.png');
}
.rtl .modules-travelmap-pin-flyout .flyoutLeftArrow {
    background-image: url('../../images/popup_arrow_left.png');
}
.modules-travelmap-pin-flyout .flyoutRightArrow {
    float: right;
    width: 20px;
    height: 18px;
    position: relative;
    top: 65px;
    right: 4px;
    background-image: url('../../images/popup_arrow_right.png');
}
.rtl .modules-travelmap-pin-flyout .flyoutRightArrow {
    background-image: url('../../images/popup_arrow_right.png');
}
.modules-travelmap-pin-flyout .closeFlyout {
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 10px;
}
.modules-travelmap-pin-flyout .flyoutCaret {
    width: 20px;
    height: 15px;
    position: absolute;
    left: 100px;
}
.modules-travelmap-pin-flyout .arrowPointUp {
    top: -15px;
}
.modules-travelmap-pin-flyout .arrowPointDown {
    bottom: -15px;
}
.modules-travelmap-pin-flyout .type-icon-text-li {
    display: inline-block;
}
.modules-travelmap-pin-flyout .flag-icon-li {
    width: 18px;
    height: 18px;
    margin: 0 5px 0 0;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}
.modules-travelmap-pin-flyout .active .flag-icon-li {
    cursor: pointer;
}
.modules-travelmap-pin-flyout .flag-text-li {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.1em;
    margin: 0 10px 0 0;
}
.modules-travelmap-pin-flyout .avatar-bar {
    display: block;
    border-top: 1px solid #e9e9e9;
    height: 34px;
    margin-bottom: 5px;
}
.modules-travelmap-pin-flyout .avatar {
    height: 24px;
    padding: 5px 3px 5px 0;
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-bottom: 5px;
    float: left;
}
.modules-travelmap-pin-flyout .visitText {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.1em;
    font-weight: bold;
    margin: 9px 0 0 0;
    overflow: hidden;
}
.modules-travelmap-pin-flyout .civCityPageLink,
.modules-travelmap-pin-flyout .mcCityPageLink {
    color: #3f6699;
    cursor: pointer;
}
.modules-travelmap-pinnable-list {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    zoom: 1;
    font-size: 1.1em;
}
.modules-travelmap-pinnable-list .pinnable-list-legend {
    text-align: center;
    margin: 0 -9px;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    width: 338px;
}
.modules-travelmap-pinnable-list .pinnable-list-body {
    border-bottom: 1px solid #c8c8c8;
    margin-top: 43px;
    width: 326px;
}
.modules-travelmap-pinnable-list .chooseBox {
    position: relative;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    zoom: 1;
    border: 1px solid #c8c8c8;
    border-bottom: none;
    width: 189px;
    height: 8px;
    text-align: center;
}
.modules-travelmap-pinnable-list .choose {
    position: relative;
    top: -8px;
    background-color: white;
    padding: 0 5px;
}
.modules-travelmap-pinnable-list .small-icon {
    display: inline-block;
    vertical-align: baseline;
    *display: inline;
    zoom: 1;
    width: 15px;
    height: 14px;
    margin-top: 6px;
}
.modules-travelmap-pinnable-list .keyText {
    display: inline-block;
    vertical-align: baseline;
    *display: inline;
    zoom: 1;
    padding: 0 3px;
    font-size: 13px;
}
.pinnable-list-legend {
    background-color: #faf7f5;
    height: 29px;
}
.modules-travelmap-pinnable-list #noCities {
    width: 337px;
    text-align: center;
}
.modules-travelmap-pinnable-list .row {
    border-top: 1px solid #c8c8c8;
    height: 32px;
}
.uncompressed .modules-travelmap-pinnable-list .row {
    height: 41px;
}
.modules-travelmap-pinnable-list .colWide {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    zoom: 1;
    width: 200px;
    height: 100%;
    overflow: hidden;
}
.modules-travelmap-pinnable-list .locationName {
    width: 200px;
    height: 33px;
    display: table-cell;
    vertical-align: middle;
    line-height: 13px;
    padding: 0 5px;
    border-right: 1px solid #CCC;
}
.uncompressed .modules-travelmap-pinnable-list .locationName {
    height: 41px;
    line-height: 19px;
}
.modules-travelmap-pinnable-list .colNarrow {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    zoom: 1;
    border-left: 1px solid #c8c8c8;
    width: 40px;
    height: 100%;
    text-align: center;
}
.modules-travelmap-pinnable-list .flag-icon {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    zoom: 1;
    width: 20px;
    height: 20px;
    margin-top: 6px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.uncompressed .modules-travelmap-pinnable-list .flag-icon {
    margin-top: 11px;
}
.modules-travelmap-pinnable-list .topCitiesButtons {
    margin-top: 14px;
    text-align: right;
}
.modules-travelmap-pinnable-list .topCityButton {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    zoom: 1;
    border: solid 1px;
    padding: 5px 0;
    width: 100px;
    text-align: center;
    margin-right: 4px;
}
.modules-travelmap-pinnable-list .greyButtonDisabled {
    color: #C8C8C8;
    border-color: #C8C8C8;
}
.modules-travelmap-pinnable-list .greyButtonEnabled {
    color: #069;
    font-weight: bold;
    border-color: #C8C8C8;
    cursor: pointer;
}
.modules-travelmap-pinnable-list .greenButtonEnabled {
    color: #fff;
    font-weight: bold;
    border-color: #C8C8C8;
    background-image: url("../../images/gradient1x32_grn.gif");
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 100% 100%;
    cursor: pointer;
}
.modules-travelmap-simple-pinnable-list {
    position: relative;
    top: 30px;
    padding: 0 4px;
}
.modules-travelmap-simple-pinnable-list .unpinnedCityRow {
    position: relative;
    margin: 4px 0;
    padding: 0 8px;
    border: 1px solid #cecece;
    cursor: pointer;
}
.modules-travelmap-simple-pinnable-list .flag-icon {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    zoom: 1;
    width: 20px;
    height: 20px;
    margin-top: 8px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.modules-travelmap-simple-pinnable-list .locationName {
    display: inline-block;
    line-height: 36px;
    margin: 0 8px;
    font-weight: bold;
}
.modules-travelmap-simple-pinnable-list .unpinnedCityRow.hover .flag-icon {
    background-image: url('../../images/been_selected.png');
}
.modules-travelmap-simple-pinnable-list .topCityButton {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    zoom: 1;
    border: solid 1px;
    padding: 5px 0;
    width: 155px;
    text-align: center;
}
.modules-travelmap-simple-pinnable-list .greyButtonDisabled {
    color: #C8C8C8;
    border-color: #C8C8C8;
}
.modules-travelmap-simple-pinnable-list .greyButtonEnabled {
    color: #069;
    font-weight: bold;
    border-color: #C8C8C8;
    cursor: pointer;
}
.modules-travelmap-lw-travelmap,
.modules-travelmap-travelmap {
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-top: 1px solid #c8c8c8;
    font-size: 12px;
}
.modules-travelmap-lw-travelmap .hidden,
.modules-travelmap-travelmap .hidden {
    display: none;
}
.modules-travelmap-lw-travelmap .main_content,
.modules-travelmap-travelmap .main_content {
    position: relative;
    color: #2C2C2C;
    font-family: Arial, Helvetica, San-Serif;
}
.modules-travelmap-lw-travelmap .map-container,
.modules-travelmap-travelmap .map-container {
    width: 581px;
    height: 409px;
    overflow: hidden;
    position: relative;
}
.modules-travelmap-lw-travelmap .dropdown-button .text,
.modules-travelmap-travelmap .dropdown-button .text {
    padding-right: 13px;
}
.modules-travelmap-lw-travelmap .dropdown-button,
.modules-travelmap-travelmap .dropdown-button {
    border: 1px solid #C8C8C8;
    color: #069;
    font-weight: bold;
    padding: 4px;
    padding-top: 7px;
    position: absolute;
    right: 0;
    z-index: 1;
    cursor: pointer;
    width: auto;
    margin-top: -1px;
    height: 18px;
}
.modules-travelmap-lw-travelmap .dropdown-button .sprite-drop,
.modules-travelmap-travelmap .dropdown-button .sprite-drop {
    position: absolute;
    height: 5px;
    width: 9px;
    top: 12px;
    right: 6px;
    background-repeat: no-repeat;
}
.modules-travelmap-lw-travelmap .dropdown-contents,
.modules-travelmap-travelmap .dropdown-contents {
    background: #FFF;
    border: 1px solid #C8C8C8;
    border-top: none;
    float: right;
    position: absolute;
    right: 13px;
    top: 29px;
    z-index: 1;
    width: auto;
}
.rtl .modules-travelmap-lw-travelmap .dropdown-button,
.rtl .modules-travelmap-lw-travelmap .dropdown-contents,
.rtl .modules-travelmap-travelmap .dropdown-button,
.rtl .modules-travelmap-travelmap .dropdown-contents {
    right: 0;
}
.modules-travelmap-lw-travelmap .dropdown-contents div,
.modules-travelmap-travelmap .dropdown-contents div {
    padding: 8px 4px;
    font-weight: bold;
    cursor: pointer;
    border-top: 1px solid #C8C8C8;
}
.modules-travelmap-lw-travelmap .MicrosoftMap,
.modules-travelmap-travelmap .MicrosoftMap,
.modules-travelmap-lw-travelmap .GoogleMap,
.modules-travelmap-travelmap .GoogleMap {
    cursor: pointer!important;
    width: 581px!important;
}
.modules-travelmap-lw-travelmap .MicrosoftNav .NavBar_zoomControlContainer,
.modules-travelmap-travelmap .MicrosoftNav .NavBar_zoomControlContainer {
    width: 528px;
    background: #f0f0f0;
}
.modules-travelmap-lw-travelmap .MicrosoftNav .NavBar_compassControlContainer,
.modules-travelmap-travelmap .MicrosoftNav .NavBar_compassControlContainer {
    background: #f0f0f0;
}
.modules-travelmap-lw-travelmap .dropdown-contents div:hover,
.modules-travelmap-travelmap .dropdown-contents div:hover {
    color: #fff;
    background: #629D2A;
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#629D2A', endColorstr='#629D2A');
}
.css_gradient_gry {
    background-color: #faf7f5;
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#fbfbfb', endColorstr='#ebebeb');
    background-image: -o-linear-gradient(bottom, #ebebeb 0, #ededed 22%, #f8f8f8 77%, #fbfbfb 100%);
    background-image: -moz-linear-gradient(bottom, #ebebeb 0, #ededed 22%, #f8f8f8 77%, #fbfbfb 100%);
    background-image: -webkit-linear-gradient(bottom, #ebebeb 0, #ededed 22%, #f8f8f8 77%, #fbfbfb 100%);
    background-image: -ms-linear-gradient(bottom, #ebebeb 0, #ededed 22%, #f8f8f8 77%, #fbfbfb 100%);
    background-image: -webkit-gradient(linear, bottom, top, color-stop(0%, #ebebeb), color-stop(22%, #ededed), color-stop(77%, #f8f8f8), color-stop(100%, #fbfbfb));
    background-image: linear-gradient(to top, #ebebeb 0, #ededed 22%, #f8f8f8 77%, #fbfbfb 100%);
}
.modules-travelmap-typeahead .pageTitle {
    font-size: 20px;
    padding-left: 18px;
    padding-bottom: 24px;
    width: 618px;
    position: relative;
    float: left;
}
.modules-travelmap-typeahead .typeahead-area {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    zoom: 1;
    height: 22px;
    border: 1px solid gray;
    border-radius: 2px;
    background: #FFF;
    margin-right: 3px;
}
.modules-travelmap-typeahead .sprite-searchIcon {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 4px;
    left: 88px;
}
.modules-travelmap-typeahead .typeahead-input {
    margin: 0 2px 0 20px;
    border: none;
    *width: 258px;
    padding-top: 4px;
    outline: none;
}
.modules-travelmap-typeahead .typeahead-input.focusClear {
    color: #888;
}
.modules-travelmap-typeahead .typeahead-button {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    zoom: 1;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 0 12px;
    height: 22px;
    line-height: 22px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 0 #548725;
    cursor: pointer;
    background-image: url("../../images/gradient1x32_grn.gif");
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 100% 100%;
}
.globalNav2011_reset #PAGE {
    background-color: #fff;
}
.globalNav2011_reset #MAIN {
    border: none;
    direction: rtl;
}
#BODYCON {
    width: auto;
}
#MAIN .heading {
    margin-left: 8px!important;
}
.main_content .pageTitle {
    position: relative;
    margin-bottom: 18px;
    font-size: 1.7em;
}
.module_group {
    position: relative;
}
.centerOtherMap {
    width: 580px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
.centerYourMap {
    width: 914px;
    margin-left: auto;
    margin-right: auto;
}
.centerOtherStats {
    width: 580px;
    margin: 20px auto 30px auto;
}
.centerYourStats {
    width: 914px;
    margin-left: auto;
    margin-right: auto;
}
.modules-travelmap-typeahead {
    position: absolute;
    top: 38px;
    *right: 14px;
    right: 590px;
    z-index: 1;
}
.tripcollectiveinfo {
    cursor: pointer;
}
.modules-common-back-to-top .btt-padding {
    position: fixed;
    bottom: -1px;
    height: 40px;
    z-index: 20;
    padding: 5px;
    font-family: Arial;
    border: 1px solid #e3e3e3;
}
.modules-common-back-to-top .btt-hidden {
    display: none;
}
.modules-common-back-to-top .btt-button {
    color: #fff;
    height: 40px;
    background: #76bf24;
    background: -moz-linear-gradient(top, #76bf24 0, #468200 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76bf24), color-stop(100%, #468200));
    background: -webkit-linear-gradient(top, #76bf24 0, #468200 100%);
    background: -o-linear-gradient(top, #76bf24 0, #468200 100%);
    background: -ms-linear-gradient(top, #76bf24 0, #468200 100%);
    background: linear-gradient(to bottom, #76bf24 0, #468200 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#76bf24', endColorstr='#468200', GradientType=0);
    text-align: center;
    cursor: pointer;
}
.modules-common-back-to-top .btt-pointer-arrow {
    margin-top: 5px;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid white;
}
.modules-common-back-to-top .btt-localization {
    font-size: 10px;
    margin: 0 4px;
}
.modules-common-back-to-top .narrow-page {
    border-right: none;
    border-bottom: none;
    background: #e3e3e3;
}
.modules-common-back-to-top .wide-page {
    border-left: none;
    background: #fff;
}
#CITY_TILES {
    padding: 20px;
    margin: -20px 0 0;
}
.modules-membercenter-city-tiles .yourContributionsHeader {
    position: relative;
}
.modules-membercenter-city-tiles .yourContributionsHeader>div,
.modules-membercenter-city-tiles .yourContributionsHeader .sideDropdown>div {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}
.modules-membercenter-city-tiles .headingTitle {
    font-weight: bold;
    font-size: 16px;
    padding: 0 15px 8px 0;
    display: block!important;
}
.modules-membercenter-city-tiles .dropdown {
    width: 175px;
    position: relative;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.modules-membercenter-city-tiles .sideDropdown {
    position: absolute;
    right: 0;
}
.modules-membercenter-city-tiles .dropdownTitle {
    color: #7e7e7e;
    margin-right: 7px;
}
.modules-membercenter-city-tiles .dropdownBox {
    border: 1px solid #7e7e7e;
    padding: 0 20px 0 7px;
    line-height: 26px;
}
.modules-membercenter-city-tiles .selectedDropdown {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.modules-membercenter-city-tiles .dropdownOptions {
    position: absolute;
    left: 0;
    right: 0;
    top: 27px;
    background-color: white;
    z-index: 100;
    border: 1px solid #7e7e7e;
    border-top-color: #dfdfdf;
}
.modules-membercenter-city-tiles .dropdownOptions .dropdownSelection,
.modules-membercenter-city-tiles .dropdownOptions a {
    display: block;
    padding: 0 7px;
    padding: 8px 7px;
}
.modules-membercenter-city-tiles .dropdownOptions .dropdownSelection:hover,
.modules-membercenter-city-tiles .dropdownOptions a:hover {
    background: #f7f7f7;
}
.modules-membercenter-city-tiles .dropdownOptions a {
    color: #069;
}
#BODYCON .modules-membercenter-city-tiles .dropdownOptions a:hover {
    text-decoration: underline;
}
.modules-membercenter-city-tiles .contributionView>div {
    line-height: 23px;
    padding: 0 11px 0 7px;
    border: 1px solid #b7b7b7;
    cursor: pointer;
}
.modules-membercenter-city-tiles .viewIcon {
    display: inline-block;
    height: 14px;
    width: 14px;
    vertical-align: text-top;
    *display: inline;
    zoom: 1;
    margin-right: 4px;
}
.modules-membercenter-city-tiles .hidden {
    display: none!important;
}
.modules-membercenter-city-tiles .dropdownArrow {
    vertical-align: middle;
    right: 6px;
    position: absolute;
    top: 11px;
}
.modules-membercenter-city-tiles .contributionView {
    margin-left: 10px;
}
.modules-membercenter-city-tiles .contributionView .contributionViewOption {
    display: inline-block;
    *display: inline;
    zoom: 1;
    background-color: #f9f9f9;
}
.modules-membercenter-city-tiles .contributionView .selected {
    background-color: #9e9e9e;
    color: #FFF;
}
.modules-membercenter-city-tiles ul.cityGrid {
    display: block;
    width: 981px;
    position: relative;
    left: -20px;
    padding: 1px;
}
.modules-membercenter-city-tiles .gridTile {
    background-color: #F1F1F1;
    margin: 20px 0 0 18px;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    zoom: 1;
    padding: 5px;
    width: 289px;
    position: relative;
}
.modules-membercenter-city-tiles .gridTile.hover {
    box-shadow: 0 0 10px 4px #c7c7c7;
}
.modules-membercenter-city-tiles .contributionsTile {
    border: 1px solid #ababab;
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, San-Serif;
}
.modules-membercenter-city-tiles .contributionsTile .cityHeroImg {
    width: 289px;
    height: 216px;
    padding-bottom: 5px;
    z-index: 1;
}
.modules-membercenter-city-tiles .contributionsTile .citySmallImg {
    width: 100px;
    height: 75px;
    padding: 5px;
    z-index: 1;
}
.modules-membercenter-city-tiles .contributionsTile .pinFlag {
    width: 35px;
    height: 30px;
    top: 15px;
    right: 15px;
    position: absolute;
    z-index: 2;
}
.modules-membercenter-city-tiles .contributionsTile .cityInfo {
    background-color: #fff;
    border: 1px solid #d6d6d6;
    display: block;
    padding: 10px 10px 14px 10px;
}
.modules-membercenter-city-tiles .contributionsTile .cityName {
    font-weight: bold;
    font-size: 14px;
    color: #292929;
    display: block;
    padding-bottom: 10px;
}
#BODYCON .modules-membercenter-city-tiles a:hover {
    text-decoration: none;
}
.modules-membercenter-city-tiles .contributionsTile .contributionCount {
    font-weight: bold;
    color: #292929;
    font-size: 22px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    line-height: 21px;
    vertical-align: middle;
}
.modules-membercenter-city-tiles .contributionsTile .contributionTitle {
    font-size: 12px;
    color: #7e7e7e;
    margin-left: 5px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    line-height: 21px;
    vertical-align: middle;
}
.modules-membercenter-city-tiles .contributionsTile .avatar {
    height: 24px;
    padding: 10px 10px 5px 5px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    float: left;
}
.modules-membercenter-city-tiles .contributionsTile .visitInfo {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.modules-membercenter-city-tiles .contributionsTile .viBeenWant {
    margin-top: 15px;
    cursor: pointer;
}
.modules-membercenter-city-tiles .contributionsTile .been {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.modules-membercenter-city-tiles .contributionsTile .want {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.modules-membercenter-city-tiles .contributionsTile .flag-icon {
    width: 18px;
    height: 18px;
    margin: 0 5px 0 0;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}
.modules-membercenter-city-tiles .contributionsTile .flag-icon-unclickable {
    width: 18px;
    height: 18px;
    margin: 0 5px 0 0;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}
.modules-membercenter-city-tiles .contributionsTile .selectedText {
    color: #539838;
    font-weight: bold;
}
.modules-membercenter-city-tiles .contributionsTile .visitText {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    font-size: 1.1em;
    margin: 0 7px 0 0;
}
.modules-membercenter-city-tiles .contributionsTile .want .visitText {
    margin: 0;
}
.modules-membercenter-city-tiles .contributionsTile .sprite-beenUnset {
    background-image: url('../../images/been_icon_default.png');
}
.modules-membercenter-city-tiles .contributionsTile .sprite-beenSet {
    background-image: url('../../images/been_icon_active.png');
}
.modules-membercenter-city-tiles .contributionsTile .sprite-wantUnset {
    background-image: url('../../images/want_icon_default.png');
}
.modules-membercenter-city-tiles .contributionsTile .sprite-wantSet {
    background-image: url('../../images/want_icon_active.png');
}
.modules-membercenter-city-tiles .contributionsTile .pinType {
    width: 19px;
    height: 20px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}
.modules-membercenter-city-tiles .cityList {
    width: 100%;
    margin-top: 20px;
    table-layout: fixed;
}
.modules-membercenter-city-tiles .cityList th .columnArrow {
    display: inline-block;
    width: 12px;
    height: 13px;
    vertical-align: middle;
    margin-right: 7px;
}
.modules-membercenter-city-tiles .cityList th,
.modules-membercenter-city-tiles .cityList td {
    width: 25%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
}
.modules-membercenter-city-tiles .cityList th {
    padding: 0 5px;
    line-height: 42px;
    background-color: #f1f1f1;
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    color: #989898;
    font-weight: normal;
}
.modules-membercenter-city-tiles .cityList td {
    padding: 0 8px;
    line-height: 43px;
    border-bottom: 1px solid #d9d9d9;
    color: #444;
}
.modules-membercenter-city-tiles .cityPageTile {
    cursor: pointer;
    color: #069;
}
.modules-membercenter-city-tiles .cityList .contributionsTitle,
.modules-membercenter-city-tiles .cityList .contributionCount {
    text-align: center;
}
.modules-membercenter-city-tiles ul {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    zoom: 1;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}
.modules-membercenter-city-tiles li {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    zoom: 1;
}
.modules-membercenter-city-tiles .cityDetails {
    color: #069;
    font-size: 14px;
    font-weight: bold;
}
.modules-membercenter-city-tiles .cityDetails .name {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    padding: 22px 0 7px 3px;
    width: 150px;
}
.modules-membercenter-city-tiles .cityDetails .caption {
    color: #ababab;
    font-size: 12px;
    font-weight: bold;
    padding-left: 3px;
    width: 145px;
}
.modules-membercenter-city-tiles .ratingBlock {
    margin: 5px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
}
.modules-membercenter-city-tiles .ratingBlock .title {
    color: #069;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.modules-membercenter-city-tiles .ratingBlock .close {
    color: #d9d9d9;
    float: right;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}
.modules-membercenter-city-tiles .ratingBlock .arrow {
    position: relative;
    background: #539838;
    color: #fff;
    height: 20px;
    line-height: 20px;
    margin: 0 15px 5px 5px;
    text-align: center;
    padding: 0 5px;
}
.modules-membercenter-city-tiles .ratingBlock .arrow:before {
    left: 100%;
    border: solid transparent;
    content: " ";
    position: absolute;
}
.modules-membercenter-city-tiles .ratingBlock .arrow:after {
    border-left-color: #539838;
    border-width: 10px;
    top: 50%;
    margin-top: -10px;
}
.modules-membercenter-city-tiles .ratingBlock .arrow:before {
    border-left-color: #539838;
    border-width: 10px;
    top: 50%;
    margin-top: -10px;
}
.modules-membercenter-city-tiles .emptyAttractions {
    height: 179px;
    overflow: hidden;
}
.modules-membercenter-city-tiles .ratingBlock .bubble {
    background: url('../../images/bubbleEmpty.png') no-repeat;
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: relative;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 1px;
}
.modules-membercenter-city-tiles .ratingBlock .filled {
    background: url('../../images/bubbleFilled.png') no-repeat;
}
.modules-membercenter-city-tiles .seeAll {
    cursor: pointer;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    margin: 2px 5px;
    padding: 0 12px 0 5px;
    line-height: 24px;
    border: 1px solid #468200;
    background: #76bf24;
    background: -moz-linear-gradient(top, #76bf24 0, #468200 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76bf24), color-stop(100%, #468200));
    background: -webkit-linear-gradient(top, #76bf24 0, #468200 100%);
    background: -o-linear-gradient(top, #76bf24 0, #468200 100%);
    background: -ms-linear-gradient(top, #76bf24 0, #468200 100%);
    background: linear-gradient(to bottom, #76bf24 0, #468200 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#76bf24', endColorstr='#468200', GradientType=0);
}
.modules-membercenter-city-tiles .seeAllArrow {
    position: relative;
    background: #fff;
    color: #fff;
    margin-left: 6px;
}
.modules-membercenter-city-tiles .seeAllArrow:before {
    left: 100%;
    border: solid transparent;
    content: " ";
    position: absolute;
}
.modules-membercenter-city-tiles .seeAllArrow:after {
    border-left-color: #fff;
    border-width: 6px;
    top: 50%;
    margin-top: -6px;
}
.modules-membercenter-city-tiles .seeAllArrow:before {
    border-left-color: #fff;
    border-width: 6px;
    top: 50%;
    margin-top: -7px;
}
.modules-membercenter-city-tiles .loading {
    margin-top: 24px;
    margin-bottom: 10px;
    height: 11px;
    background: url('../../images/ajax-load-bar.gif') no-repeat center center;
}
.modules-membercenter-city-tiles .emptyBlock {
    height: 40px;
}
.modules-membercenter-city-tiles .contributionsTile .cityHero {
    position: relative;
}
.modules-membercenter-public-header {
    font-family: Arial;
}
.modules-membercenter-public-header .avatar {
    width: 50px;
    padding-right: 5px;
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.modules-membercenter-public-header .avatarUrl {
    width: 34px;
    height: 34px;
    border: 1px solid #A6DF6C;
    padding: 3px;
    vertical-align: middle;
    box-shadow: 2px 2px 4px #c7c7c7;
}
.modules-membercenter-public-header .header {
    margin: 0 15px 0 15px;
    padding-bottom: 16px;
    position: relative;
}
.modules-membercenter-public-header .memberInfo,
.memberInfo>* {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    padding-top: 2px;
    max-width: 325px;
}
.modules-membercenter-public-header .memberInfo .viewProfile {
    display: block;
}
.modules-membercenter-public-header .memberTitle {
    font-size: 16px;
    color: #292929;
    display: block;
    font-weight: bold;
}
.modules-membercenter-public-header .editPhoto .sprite-camera {
    padding: 1px 0 0 18px;
}
.modules-membercenter-public-header .staff {
    display: block;
    color: #7e7e7e;
}
.modules-membercenter-public-header .separator {
    margin: 0 9px;
    width: 1px;
    height: 50px;
    background: #d6d6d6;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}
.modules-membercenter-public-header .link {
    font-size: 12px;
    color: #069;
}
.modules-membercenter-public-header .contributionCounts {
    max-width: 600px;
    line-height: 20px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    color: #7e7e7e;
}
.modules-membercenter-public-header .contributionCounts .counts li {
    display: inline-block;
    padding-right: 6px;
    vertical-align: middle;
    font-size: 14px;
}
.modules-membercenter-public-header .total * {
    color: #000;
    font-size: 14px;
    vertical-align: middle;
}
.modules-membercenter-public-header .total .totalCount {
    font-weight: bold;
    font-size: 20px;
    padding-right: 3px;
}
#BODYCON .modules-membercenter-public-header .contributionCounts:hover,
#BODYCON .modules-membercenter-public-header .total:hover {
    text-decoration: none;
}
.modules-membercenter-public-header .contributionCounts[href] .total .totalText,
.modules-membercenter-public-header .total[href] .totalText {
    text-decoration: underline;
}
.modules-membercenter-public-header .destinationExpert {
    padding: 0 5px;
}
.modules-membercenter-public-header .DEText {
    font-size: 12px;
    color: #808080;
}
.modules-membercenter-public-header .count {
    font-size: 14px;
    color: #808080;
    padding-right: 4px;
}
.modules-membercenter-public-header .pinDetails {
    padding-top: 14px;
}
.modules-membercenter-public-header .type-icon-text {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.modules-membercenter-public-header .flag-icon {
    width: 19px;
    height: 18px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}
.modules-membercenter-public-header .active .flag-icon {
    cursor: pointer;
}
.modules-membercenter-public-header .flag-text {
    padding: 0 5px 0 2px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    line-height: 20px;
}
.modules-membercenter-public-header .returnToLink {
    display: inline-block;
    *display: inline;
    zoom: 1;
    right: 0;
    top: 0;
    position: absolute;
    line-height: 50px;
    vertical-align: middle;
}
.modules-membercenter-friend-carousel {
    display: inline-block;
    font-size: 12px;
}
.modules-membercenter-friend-carousel ul,
.modules-membercenter-public-header ul,
.modules-membercenter-city-page-header ul {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}
.modules-membercenter-friend-carousel li,
.modules-membercenter-public-header li,
.modules-membercenter-city-page-header li {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.modules-membercenter-friend-carousel .carousel,
.modules-membercenter-public-header .carousel,
.modules-membercenter-city-page-header .carousel {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.modules-membercenter-friend-carousel .picture,
.modules-membercenter-public-header .picture,
.modules-membercenter-city-page-header .picture {
    position: relative;
    height: 34px;
    width: 34px;
}
.modules-membercenter-friend-carousel .picture,
.modules-membercenter-public-header .picture,
.modules-membercenter-city-page-header .friend.clickable {
    cursor: pointer;
}
.modules-membercenter-friend-carousel .carouselArrow,
.modules-membercenter-public-header .carouselArrow,
.modules-membercenter-city-page-header .carouselArrow {
    height: 30px;
    width: 10px;
    margin-top: 7px;
    background-repeat: no-repeat;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}
.modules-membercenter-friend-carousel .leftCarouselArrow,
.modules-membercenter-public-header .leftCarouselArrow,
.modules-membercenter-city-page-header .leftCarouselArrow {
    background-image: url('../../images/LeftCarouselInctive_alt.gif');
    padding-right: 1px;
}
.modules-membercenter-friend-carousel .rightCarouselArrow,
.modules-membercenter-public-header .rightCarouselArrow,
.modules-membercenter-city-page-header .rightCarouselArrow {
    background-image: url('../../images/RightCarouselInctive_alt.gif');
    margin-left: 3px;
}
.modules-membercenter-friend-carousel .leftCarouselArrow.enable,
.modules-membercenter-public-header .leftCarouselArrow.enable,
.modules-membercenter-city-page-header .leftCarouselArrow.enable {
    background-image: url('../../images/LeftCarouselActive_alt.gif');
    cursor: pointer;
}
.modules-membercenter-friend-carousel .rightCarouselArrow.enable,
.modules-membercenter-public-header .rightCarouselArrow.enable,
.modules-membercenter-city-page-header .rightCarouselArrow.enable {
    background-image: url('../../images/RightCarouselActive_alt.gif');
    cursor: pointer;
}
.modules-membercenter-friend-carousel .friendName,
.modules-membercenter-public-header .friendName,
.modules-membercenter-city-page-header .friendName {
    position: absolute;
    top: 53px;
    background: #539838;
    color: #FFF;
    z-index: 4;
    text-align: center;
    padding: 4px;
    border-radius: 6px;
    white-space: nowrap;
}
.modules-membercenter-friend-carousel .friendName:after,
.modules-membercenter-friend-carousel .friendName:before,
.modules-membercenter-public-header .friendName:after,
.modules-membercenter-public-header .friendName:before,
.modules-membercenter-city-page-header .friendName:after,
.modules-membercenter-city-page-header .friendName:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.modules-membercenter-friend-carousel .friendName:after,
.modules-membercenter-public-header .friendName:after,
.modules-membercenter-city-page-header .friendName:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #539838;
    border-width: 13px;
    left: 50%;
    margin-left: -13px;
}
.modules-membercenter-friend-carousel .carouselContents,
.modules-membercenter-public-header .carouselContents,
.modules-membercenter-city-page-header .carouselContents {
    padding-top: 2px;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.modules-membercenter-friend-carousel .yourPicture,
.modules-membercenter-public-header .yourPicture,
.modules-membercenter-city-page-header .yourPicture {
    height: 34px;
    width: 34px;
    margin-right: 11px;
    border: 3px solid #FFF;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}
.modules-membercenter-friend-carousel .clickablePicture:hover,
.modules-membercenter-public-header .clickablePicture:hover,
.modules-membercenter-city-page-header .clickablePicture:hover {
    cursor: pointer;
    border-color: #539838;
}
.modules-membercenter-friend-carousel .friend,
.modules-membercenter-public-header .friend,
.modules-membercenter-city-page-header .friend {
    border: 3px solid #FFF;
    height: 34px;
    position: relative;
    vertical-align: middle;
}
.modules-membercenter-public-header .friends .selected,
.modules-membercenter-friend-carousel .friends.selected,
.modules-membercenter-city-page-header .friends .selected {
    border-color: #539838;
}
.modules-membercenter-friend-carousel .greyedOut .picture,
.modules-membercenter-public-header .greyedOut .picture,
.modules-membercenter-city-page-header .greyedOut .picture {
    opacity: .4;
    filter: alpha(opacity=40);
}
.modules-membercenter-friend-carousel .friends li:hover,
.modules-membercenter-public-header .friends li:hover,
.modules-membercenter-city-page-header .friends li:hover {
    border-color: #539838;
}
.modules-membercenter-public-header .friendCount,
.modules-membercenter-friend-carousel .friendCount,
.modules-membercenter-city-page-header .friendCount {
    font-weight: bold;
    padding: 2px 0 0 63px;
}
.modules-membercenter-public-header .allFriends,
.modules-membercenter-friend-carousel .allFriends,
.modules-membercenter-city-page-header .allFriends {
    border: 3px solid #FFF;
    cursor: pointer;
    height: 16px;
    padding: 9px 7px;
    background: #EAEAEA;
}
.modules-membercenter-public-header .allFriendsButton,
.modules-membercenter-friend-carousel .allFriendsButton,
.modules-membercenter-city-page-header .allFriendsButton {
    color: #069;
    vertical-align: top;
    margin-top: 1px;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.modules-membercenter-public-header .fbIcon,
.modules-membercenter-friend-carousel .fbIcon,
.modules-membercenter-city-page-header .fbIcon {
    padding-right: 7px;
    height: 15px;
    width: 15px;
}
.modules-common-lw-rating-overlay-header,
.modules-common-rating-overlay-header {
    display: block;
    font-family: arial;
    background-color: #f1f1f1;
    height: 110px;
    width: 624px;
    vertical-align: top;
    margin: -8px -12px 0 -12px;
}
.modules-common-lw-rating-overlay-header .picture,
.modules-common-rating-overlay-header .picture {
    display: inline-block;
    width: 130px;
    height: 90px;
    vertical-align: top;
    margin: 10px;
    *display: inline;
    zoom: 1;
}
.modules-common-lw-rating-overlay-header .picture .cityImg,
.modules-common-rating-overlay-header .picture .cityImg {
    width: 130px;
    height: 90px;
}
.modules-common-lw-rating-overlay-header .pinFlag,
.modules-common-rating-overlay-header .pinFlag {
    background-color: #bbb;
    width: 35px;
    height: 30px;
    position: absolute;
    z-index: 2;
}
.modules-common-lw-rating-overlay-header .details,
.modules-common-rating-overlay-header .details {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    zoom: 1;
}
.modules-common-lw-rating-overlay-header .details .badge,
.modules-common-rating-overlay-header .details .badge {
    height: 35px;
    width: 35px;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.modules-common-lw-rating-overlay-header .details .badge .badgeImg,
.modules-common-rating-overlay-header .details .badge .badgeImg {
    height: 35px;
    width: 35px;
}
.modules-common-lw-rating-overlay-header .details .badgeCaption,
.modules-common-rating-overlay-header .details .badgeCaption {
    color: #498A36;
    width: 200px;
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
    line-height: 17px;
    *display: inline;
    zoom: 1;
}
.modules-common-lw-rating-overlay-header .dropdown .text,
.modules-common-rating-overlay-header .dropdown .text {
    padding-right: 13px;
}
.modules-common-lw-rating-overlay-header .dropdown,
.modules-common-rating-overlay-header .dropdown {
    border: 1px solid #C8C8C8;
    color: #069;
    font-weight: bold;
    padding: 5px;
    z-index: 1;
    cursor: pointer;
    margin: 15px 0;
}
.modules-common-lw-rating-overlay-header .dropdown .sprite-drop,
.modules-common-rating-overlay-header .dropdown .sprite-drop {
    height: 5px;
    width: 9px;
    float: right;
    margin-top: 4px;
    background-repeat: no-repeat;
}
.modules-common-lw-rating-overlay-header .dropdown-contents,
.modules-common-rating-overlay-header .dropdown-contents {
    position: absolute;
    top: 43px;
    background: #FFF;
    border: 1px solid #C8C8C8;
    z-index: 4;
    width: 238px;
    height: 144px;
    overflow-y: scroll;
}
.modules-common-lw-rating-overlay-header .dropdown-contents div:hover,
.modules-common-rating-overlay-header .dropdown-contents div:hover {
    color: #fff;
    background: #629D2A;
}
.modules-common-lw-rating-overlay-header .dropdown-city,
.modules-common-rating-overlay-header .dropdown-city {
    color: #069;
    padding: 5px;
    cursor: pointer;
}
.modules-common-lw-rating-overlay-attractions,
.modules-common-rating-overlay-attractions {
    font-family: arial;
    width: 600px;
}
.modules-common-lw-rating-overlay-attractions .label,
.modules-common-rating-overlay-attractions .label {
    display: inline-block;
    vertical-align: top;
    height: 90px;
    margin: 25px 5px;
    font-weight: bold;
    *display: inline;
    zoom: 1;
}
.modules-common-lw-rating-overlay-attractions .close,
.modules-common-rating-overlay-attractions .close {
    display: inline-block;
    vertical-align: top;
    float: right;
    *display: inline;
    zoom: 1;
}
.modules-common-lw-rating-overlay-attractions .ratings,
.modules-common-rating-overlay-attractions .ratings {
    padding-top: 10px;
    height: 285px;
    width: 612px;
    overflow-y: scroll;
    margin-bottom: 10px;
}
.modules-common-lw-rating-overlay-attractions .loading,
.modules-common-rating-overlay-attractions .loading {
    padding-top: 100px;
    height: 195px;
    width: 588px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.modules-common-lw-rating-overlay-attractions .spinner,
.modules-common-rating-overlay-attractions .spinner {
    margin-top: 24px;
    height: 11px;
    background: url('../../images/ajax-load-bar.gif') no-repeat center center;
}
.modules-common-lw-rating-overlay-attractions .caption,
.modules-common-rating-overlay-attractions .caption {
    font-size: 20px;
    font-weight: bold;
}
.modules-common-lw-rating-overlay-attractions .doneButton,
.modules-common-rating-overlay-attractions .doneButton {
    cursor: pointer;
    line-height: 20px;
    height: 20px;
    color: #fff;
    text-align: center;
    padding: 2px 12px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    font-weight: bold;
    background: #76bf24;
    background: -moz-linear-gradient(top, #76bf24 0, #468200 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76bf24), color-stop(100%, #468200));
    background: -webkit-linear-gradient(top, #76bf24 0, #468200 100%);
    background: -o-linear-gradient(top, #76bf24 0, #468200 100%);
    background: -ms-linear-gradient(top, #76bf24 0, #468200 100%);
    background: linear-gradient(to bottom, #76bf24 0, #468200 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#76bf24', endColorstr='#468200', GradientType=0);
}
.modules-common-lw-rating-overlay-attractions ul,
.modules-common-rating-overlay-attractions ul {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    zoom: 1;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}
.modules-common-lw-rating-overlay-attractions li,
.modules-common-rating-overlay-attractions li {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    zoom: 1;
}
.modules-common-lw-rating-overlay-attractions .ratingBlock,
.modules-common-rating-overlay-attractions .ratingBlock {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    width: 280px;
    margin: 6px 13px 6px 0;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.modules-common-lw-rating-overlay-attractions .ratingBlock .title,
.modules-common-rating-overlay-attractions .ratingBlock .title {
    color: #069;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.modules-common-lw-rating-overlay-attractions .ratingBlock .closeButton,
.modules-common-rating-overlay-attractions .ratingBlock .closeButton {
    color: #d9d9d9;
    float: right;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}
.modules-common-lw-rating-overlay-attractions .ratingBlock .arrow,
.modules-common-rating-overlay-attractions .ratingBlock .arrow {
    position: relative;
    background: #539838;
    color: #fff;
    height: 20px;
    line-height: 20px;
    margin: 0 15px 5px 5px;
    text-align: center;
    padding: 0 5px;
}
.modules-common-lw-rating-overlay-attractions .ratingBlock .arrow:before,
.modules-common-rating-overlay-attractions .ratingBlock .arrow:before {
    left: 100%;
    border: solid transparent;
    content: " ";
    position: absolute;
}
.modules-common-lw-rating-overlay-attractions .ratingBlock .arrow:after,
.modules-common-rating-overlay-attractions .ratingBlock .arrow:after {
    border-left-color: #539838;
    border-width: 10px;
    top: 50%;
    margin-top: -10px;
}
.modules-common-lw-rating-overlay-attractions .ratingBlock .arrow:before,
.modules-common-rating-overlay-attractions .ratingBlock .arrow:before {
    border-left-color: #539838;
    border-width: 10px;
    top: 50%;
    margin-top: -10px;
}
.modules-common-lw-rating-overlay-attractions .ratingBlock .bubble,
.modules-common-rating-overlay-attractions .ratingBlock .bubble {
    background: url('../../images/bubbleEmpty.png') no-repeat;
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 1px;
    *display: inline;
    zoom: 1;
}
.modules-common-lw-rating-overlay-attractions .ratingBlock .filled,
.modules-common-rating-overlay-attractions .ratingBlock .filled {
    background: url('../../images/bubbleFilled.png') no-repeat;
}
.sprite-beenBox {
    background-image: url('../../images/been_box_icon.png');
}
.sprite-beenUnset {
    background-image: url('../../images/been_icon_default.png');
}
.sprite-beenPin {
    background-image: url('../../images/been_pin_icon.png');
}
.sprite-beenSet {
    background-image: url('../../images/been_icon_active.png');
}
.sprite-beenSetSmall {
    background-image: url('../../images/been_small.png');
}
.sprite-close {
    background-image: url('../../images/close_icon.png');
}
.sprite-drop {
    background-image: url('../../images/down_arrow_darkgray.png');
}
.sprite-faveBox {
    background-image: url('../../images/fave_box_icon.png');
}
.sprite-faveUnset {
    background-image: url('../../images/fave_icon_default.png');
}
.sprite-favePin {
    background-image: url('../../images/fave_pin_icon.png');
}
.sprite-faveSet {
    background-image: url('../../images/fave_icon_active.png');
}
.sprite-faveSetSmall {
    background-image: url('../../images/fave_small.png');
}

.sprite-addCities {
    background-image: url('../../images/add_cities_icon.png');
}

#Badges {
    position: static;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    text-align: left;
}
.modules-civ-badges-page .badges-label-row {
    font-family: Arial;
    font-weight: bold;
    margin: 0 0 5px 0;
}
.modules-civ-badges-page .badges-badge-row {
    margin: 0 0 12px -2px;
    padding: 0 0 10px;
    border-bottom: 2px solid #dcdcdc;
}
.modules-civ-badges-page .badges-category-title {
    font-size: 19px;
    color: #2b2b2b;
    margin-left: 10px;
}
.modules-civ-badges-page .badges-category-description {
    color: #217148;
    font-size: 14px;
    margin-left: 10px;
}
.modules-civ-badges-page .badges-badge-row .badge img {
    width: 90px;
    height: 90px;
}
.modules-civ-badges-page .badges-badge-row .badge {
    width: 90px;
    height: 90px;
    margin: 0 7px;
    position: relative;
    display: inline-block;
}
.modules-civ-badges-page .badges-badge-row .clickable-badge {
    cursor: pointer;
}
.modules-civ-badges-page .badges-label-row .button {
    text-decoration: none;
    color: #000;
    float: right;
    margin-right: 14px;
    cursor: pointer;
    border: 1px solid #E46715;
    font-size: 11px;
    padding: 5px 15px;
    background-color: #E46715;
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#feaa29', endColorstr='#ffecc8');
    background-image: -o-linear-gradient(bottom, #feaa29 0, #ffecc8 100%);
    background-image: -moz-linear-gradient(bottom, #feaa29 0, #ffecc8 100%);
    background-image: -webkit-linear-gradient(bottom, #feaa29 0, #ffecc8 100%);
    background-image: -ms-linear-gradient(bottom, #feaa29 0, #ffecc8 100%);
    background-image: -webkit-gradient(linear, bottom, top, color-stop(0%, #fcc56a), color-stop(100%, #ffecc8));
}
.modules-civ-badges-page #ratings-badges {
    border-bottom: none;
}
.modules-travelmap-travel-stats {
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.modules-travelmap-travel-stats .stats {
    margin: 15px 0;
    width: 261px;
    height: 80px;
    float: left;
    border: 1px solid #c8c8c8;
    background-color: white;
    padding-top: 25px;
    padding-left: 20px;
}
.modules-travelmap-travel-stats .percentTraveled {
    margin-left: 14px;
}
.left_hand_column {
    width: 581px;
    display: inline-block;
}
.modules-travelmap-travel-stats .encourage {
    color: #468200;
    font-size: .8em;
}
.modules-travelmap-travel-stats .statDesc {
    color: #888;
    margin-top: 10px;
    margin-right: 5px;
    padding-top: 8px;
}
.modules-travelmap-travel-stats .statNumber {
    font-size: 2.3335em;
    color: black;
    float: left;
    margin-right: 10px;
    margin-top: -8px;
    height: 50px;
    width: auto;
}
.modules-travelmap-travel-stats .distance-icon {
    width: 29px;
    height: 26px;
    margin: 12px 5px 7px 10px;
    float: left;
}
.modules-travelmap-travel-stats .percent-icon {
    width: 38px;
    height: 38px;
    float: left;
    margin: 5px 10px 10px 10px;
}
.sidebar .modules-travelmap-travel-stats .milesStats {
    width: 47%;
    border: 1px solid #c8c8c8;
    height: 62px;
    background-color: #fff;
    margin: 0 4.5% 0 0;
}
.sidebar .modules-travelmap-travel-stats .percentStats {
    width: 47%;
    border: 1px solid #c8c8c8;
    height: 62px;
    background-color: #fff;
    margin: 0;
}
.sidebar .modules-travelmap-travel-stats .statDesc {
    font-size: .8em;
    text-align: center;
}
.sidebar .modules-travelmap-travel-stats .statNumber {
    display: block;
    font-size: 2em;
    margin-top: 14px;
    margin-bottom: 8px;
    overflow: hidden;
    text-align: left;
}
.sidebar .modules-travelmap-travel-stats .statNumber.percentStat {
    font-size: 2em;
    margin-bottom: 8px;
    margin-top: 14px;
    text-align: left;
}
.sidebar .modules-travelmap-travel-stats .distance-icon {
    margin-bottom: 5px;
}
.sidebar .modules-travelmap-travel-stats .percent-icon {
    margin-bottom: 1px;
}
.en_US .map .modules-travelmap-travel-stats .statDesc,
.en_UK .map .modules-travelmap-travel-stats .statDesc {
    font-size: 1.2em;
}
.ru .sidebar .modules-travelmap-travel-stats .statNumber {
    margin-bottom: 0;
}
.ru .sidebar .modules-travelmap-travel-stats .statNumber.percentStat {
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
}
.ru .sidebar .modules-travelmap-travel-stats .percent-icon {
    margin: 5px 10px 10px 10px;
}
.da .sidebar .modules-travelmap-travel-stats .statNumber {
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
}
.da .sidebar .modules-travelmap-travel-stats .percent-icon {
    margin: 5px 10px 10px 10px;
}
.da .sidebar .modules-travelmap-travel-stats .statDesc {
    margin-top: 4px;
}
.el .map .modules-travelmap-travel-stats .statDesc {
    font-size: .75em;
}
.el .map .modules-travelmap-travel-stats .statDesc .statNumber {
    font-size: 2em;
    display: block;
}
.el .map .modules-travelmap-travel-stats .encourage {
    font-size: .7em;
}
.tr .map .modules-travelmap-travel-stats .statDesc {
    font-size: .95em;
}
.tr .sidebar .modules-travelmap-travel-stats .statDesc {
    font-size: .7em;
}
.tr .sidebar .modules-travelmap-travel-stats .statNumber.distanceStat,
.tr .sidebar .modules-travelmap-travel-stats .statNumber.percentStat {
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    font-size: 2em;
}
.tr .sidebar .modules-travelmap-travel-stats .distance-icon {
    margin: 5px 10px 15px 10px;
}
.lang_tr .modules-travelmap-travel-stats .statNumber {
    margin-top: 0;
!important;
}
.lang_tr .modules-travelmap-travel-stats .statDesc {
    margin-top: -10px;
!important;
}
.th .sidebar .modules-travelmap-travel-stats .statNumber.percentStat {
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
}
.th .sidebar .modules-travelmap-travel-stats .percent-icon {
    margin: 5px 10px 10px 10px;
}
.zh_TW .map .modules-travelmap-travel-stats .statDesc,
.zh_HK .map .modules-travelmap-travel-stats .statDesc,
.zh_CN .map .modules-travelmap-travel-stats .statDesc {
    font-size: .9em;
}
.zh_TW .sidebar .modules-travelmap-travel-stats .statNumber.distanceStat,
.zh_HK .sidebar .modules-travelmap-travel-stats .statNumber.distanceStat,
.zh_CN .sidebar .modules-travelmap-travel-stats .statNumber.distanceStat,
.zh_TW .sidebar .modules-travelmap-travel-stats .statNumber.percentStat,
.zh_HK .sidebar .modules-travelmap-travel-stats .statNumber.percentStat,
.zh_CN .sidebar .modules-travelmap-travel-stats .statNumber.percentStat {
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
}
.zh_TW .sidebar .modules-travelmap-travel-stats .distance-icon,
.zh_HK .sidebar .modules-travelmap-travel-stats .distance-icon,
.zh_CN .sidebar .modules-travelmap-travel-stats .distance-icon,
.zh_TW .sidebar .modules-travelmap-travel-stats .percent-icon,
.zh_HK .sidebar .modules-travelmap-travel-stats .percent-icon,
.zh_CN .sidebar .modules-travelmap-travel-stats .percent-icon {
    margin: 5px 10px 15px 10px;
}