#elevator {
    position: absolute;
    border-radius: 6px;
    width: 100px;
    height: 30px;
    background-color: #4DC7BC;
    color: white;
}

#elevator > center {
    margin-top: 5px;
}

.cityFiltersProSearch {
    position: absolute;
    float: right;
    color: white;
    top: 40px;
    background-color: #4dc7bc;
    border-radius: 6px;
    width: 100px;
    height: 30px
}

.cityFiltersProSearch > center > span {
    line-height: 28px;
    margin-right: 8px;
    float: right;
    cursor: pointer
}

.cityFiltersProSearch > center > span > span {
    line-height: 28px;
    margin-left: 10px
}

.selectedFiltersProSearch {
    position: absolute;
    float: right;
    color: #6d6d6d;
    border-radius: 6px;
    background-color: #f4f4f4;
    width: 1px;
    height: 1px
}

#greenBtnProSearch {
    margin-left: 10px;
    background-color: #4DC7BC;
    color: white;
    padding: 4px 8px !important;
    font-size: 10px !important;
}

.mg-tp-35 {
    margin-top: 35px
}

.color-black {
    color: black;
}

.float-right {
    float: right;
}

.mg-rt-7 {
    margin-right: 7px;
}

#searchspan {
    direction: rtl;
    overflow: hidden;
    background-color: #f4f4f4;
    height: 0;
    position: fixed;
    left: 0;
    right: auto;
    top: 0;
    bottom: auto
}

.mg-tp-50 {
    margin-top: 50px;
}

.boxOfWhereIsHere {
    display: flex;
    color: #0c0593;
    font-size: 1.4em;
    align-items: center;
    justify-content: center;
    margin: 0 0 15px;
}

#nameOfWhereIsHere {
    font-weight: 500;
    margin: 5px;
}

#addToFilterCityBtn {
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    width: 200px;
    padding: 10px;
    border-radius: 6px;
    background-color: #4DC7BC;
    color: white
}

.boxOfCityNameProSearch {
    display: flex;
    align-items: flex-end;
    font-size: 1.3em;
    color: #0076a3;
}

#textOfWhere {
    display: flex;
    align-items: center;
    margin: 0 0 5px 10px;
}

#textOfWhere2 {
    display: flex;
    align-items: center;
    margin: 0 0 10px 10px;
}

#enterCityNameProSearch {
    width: 80% !important;
    position: relative;
}

#GEO_SCOPED_SEARCH_INPUT {
    color: #6d6d6d;
    border-color: #6d6d6d !important;
}

#currentCity {
    margin: 10px 0 5px !important;
}

#resultCity {
    width: 200px;
    max-height: 135px;
    color: #6d6d6d;
    overflow: auto;
    margin-top: 10px;
}

#dividerUpBoxProSearch {
    background-color: #FFFFFF;
    height: 5px;
    box-shadow: 5px 5px 5px #888888;
}
#dividerCenterBoxProSearch {
    border-bottom: 1px solid black;
    width: 85%;
    position: absolute;
    bottom: 16px;
    left: 33px;
}

#mainDivProSearch > center:nth-child(3) {
    margin-top: 40px;
    padding: 0
}

#mainDivProSearch > center:nth-child(3) > div:nth-child(2) {
    position: relative !important;
}

#mainDivProSearch > center:nth-child(3) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
    color: #6d6d6d;
    height: inherit;
}

#mainDivProSearch > center:nth-child(3) > div:nth-child(2) > div:nth-child(1) {
    border-bottom: 2px solid #6d6d6d;
    padding: 0px !important;
}

#mainDivProSearch > center:nth-child(3) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div {
    float: right;
    width: 50px;
    cursor: pointer;
    position: relative
}

#mainDivProSearch > center:nth-child(3) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div > center {
    top: 104%;
    left: 15%;
    width: 70%;
    position: absolute
}

.position-relative {
    position: relative;
}

#GEO_SCOPED_SEARCH_INPUT2 {
    color: #6d6d6d;
    border-color: #6d6d6d !important;
    position: absolute;
    bottom: 16px;
    /*right: 0;*/
    /*color: #6d6d6d;*/
    /*border: none !important;*/
}

#filterDiv {
    height: 100px;
    position: relative !important;
}

#resultPlace {
    max-height: 200px;
    color: #4DC7BC;
    overflow: auto;
    margin-top: 25%;
}

#filterDivCM {
    margin-top: 20px
}

/*#mainDivProSearch > div:nth-child(4) {*/
    /*height: 200px;*/
    /*margin-top: 4%;*/
/*}*/

.boxOfmainDivCompareProSearch {
    display: flex;
    justify-content: space-between;
    margin: 70px 0 10px;
}

#mainDivCompareProSearch {
    width: 22%;
    height: 180px;
    position: relative;
    background-color: #ffe3b1;
}

#mainDivCompareProSearch > div > span {
    cursor: pointer;
    position: absolute;
    top: -12px;
    background-color: #dddddd
}

#mainDivCompareProSearch > div > div:nth-child(2) {
    height: 30px;
}

#mainDivCompareProSearch > div > div:nth-child(3) {
    height: 150px;
}

#mainDivCompareProSearch > div > div:nth-child(4) {
    position: absolute;
    left: 5px;
    bottom: 4px;
}

#mainDivCompareProSearchBtn {
    display: flex;
    justify-content: flex-end;
}

#compare {
    border: none;
    background-color: #4DC7BC
}

#myCloseBtn {
    height: 50px;
    background: url('../../images/menu-icon.png');
    background-size: 100% 100%;
    background-repeat: no-repeat no-repeat;
    border: none;
    width: 50px;
    position: fixed;
    top: 93%;
    color: white;
    cursor: pointer;
    left: 48%;
}

/*1st box of Styles*/

.rotate-text {
    -webkit-animation: rotation 1s 1 linear;
}

.center {
    margin: auto;
    width: 83%;
    padding: 10px;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

.boxOfLamps {
    display: flex;
    justify-content: space-between;
}

.ui_input_checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.searchElement {
    cursor: pointer;
    border-bottom: 2px solid gray;
    padding-bottom: 5px;
}

#searchspan .ui_close_x:before {
    font-size: 60px;
    line-height: 70px;
}

#close_span_search {
    width: 70px !important;
    height: 70px !important;
}