#share_box {
    display: none;
    width: 22%;
    height: 60px;
    background: #FFF;
    position: absolute;
    left: 7%;
    z-index: 10;
    box-shadow: rgb(136, 136, 136) 1px 4px 8px;
    padding: 10px;
}

#share_box > a {
    cursor: pointer;
    float: left;
    margin-left: 5px;
}