@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'Shazde_Regular2';
    src: url('../../fonts/shazdemosafer/Shazdemosafer.eot?v003.200');
    src: url('../../fonts/shazdemosafer/Shazdemosafer.eot?v003.200#iefix') format('embedded-opentype'),
    url('../../fonts/shazdemosafer/Shazdemosafer.woff2?v003.200') format('woff2'),
    url('../../fonts/shazdemosafer/Shazdemosafer.woff?v003.200') format('woff'),
    url('../../fonts/shazdemosafer/Shazdemosafer.ttf?v003.200') format('truetype'),
    url('') format('svg');
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'Shazde_Regular';
    src: url('../../fonts/shazdemosafer/Shazdemosafer_Regular.eot?v003.200');
    src: url('../../fonts/shazdemosafer/Shazdemosafer_Regular.eot?v003.200#iefix') format('embedded-opentype'),
    url('../../fonts/shazdemosafer/Shazdemosafer_Regular.woff2?v003.200') format('woff2'),
    url('../../fonts/shazdemosafer/Shazdemosafer_Regular.woff?v003.200') format('woff'),
    url('../../fonts/shazdemosafer/Shazdemosafer_Regular.ttf?v003.200') format('truetype'),
    url('') format('svg');
}

@font-face {
    font-family: 'IRANSansWeb';
    font-style: normal;
    font-weight: 900;
    src: url('../../fonts/eot/IRANSansWeb(FaNum)_Black.eot');
    src: url('../../fonts/eot/IRANSansWeb(FaNum)_Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../../fonts/woff2/IRANSansWeb(FaNum)_Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../../fonts/woff/IRANSansWeb(FaNum)_Black.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../fonts/ttf/IRANSansWeb(FaNum)_Black.ttf') format('truetype');
}
@font-face {
    font-family: 'IRANSansWeb';
    font-style: normal;
    font-weight: bold;
    src: url('../../fonts/eot/IRANSansWeb(FaNum)_Bold.eot');
    src: url('../../fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../../fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../../fonts/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'IRANSansWeb';
    font-style: normal;
    font-weight: 500;
    src: url('../../fonts/eot/IRANSansWeb(FaNum)_Medium.eot');
    src: url('../../fonts/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../../fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../../fonts/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANSansWeb';
    font-style: normal;
    font-weight: 300;
    src: url('../../fonts/eot/IRANSansWeb(FaNum)_Light.eot');
    src: url('../../fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../../fonts/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../../fonts/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../fonts/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANSansWeb';
    font-style: normal;
    font-weight: 200;
    src: url('../../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot');
    src: url('../../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../../fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../../fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANSansWeb';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/eot/IRANSansWeb(FaNum).eot');
    src: url('../../fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../../fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../../fonts/woff/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}

/*in Phone*/
@media only screen and (max-width: 600px) {
    .hideOnPhone {
        display: none;
        width: 0;
        height: 0;
    }
}
/*in Screen*/
@media only screen and (min-width:601px) {
    .hideOnScreen {
        display: none;
        width: 0;
        height: 0;
    }
}
.hidden {
    display: none !important;
}